OTA1.0/OTA2001B/2001B_xsd/OTA_InsuranceQuoteRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.opentravel.org/OTA" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA" elementFormDefault="qualified">
	<xs:include schemaLocation="OTA_v2ent.xsd"/>
	<xs:element name="OTA_InsuranceQuoteRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for one or more insurance plan quote response.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="Success"/>
					<xs:element ref="Warnings" minOccurs="0"/>
					<xs:element ref="PlanForQuoteRS" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="Errors"/>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Activities" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Activities that traveler(s) will engage in while on their journey.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AdditionalCharges">
		<xs:annotation>
			<xs:documentation xml:lang="en">A container for any additional charges to the cost of the insurance plan.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Charge" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines a physical address</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StreetNmbr" minOccurs="0"/>
				<xs:element ref="BldgRoom" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AddressLine" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CityName" minOccurs="0"/>
				<xs:element ref="StateProv" minOccurs="0"/>
				<xs:element ref="CountryName" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddressLine">
		<xs:annotation>
			<xs:documentation xml:lang="en">Additional line of an address as needed to define a physical location.  May be repeated</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ParsedInd">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Yes"/>
								<xs:enumeration value="No"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Annual">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines coverage options specific to annual and multi-trip plans</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Coverage" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="InsureTripQty" minOccurs="0"/>
				<xs:element ref="MaxTripLength"/>
				<xs:element ref="InsureTripCost" minOccurs="0"/>
				<xs:element ref="TripFeatures" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="EffectiveDate" type="xs:string"/>
			<xs:attribute name="AutoRenew">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="BldgRoom" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Building name, room, apartment, or suite number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BookingURL">
		<xs:annotation>
			<xs:documentation xml:lang="en">Location for booking details.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="URL"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Charge">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains a description and value of a single additional charge to the cost of the plan.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChargeAmount"/>
				<xs:element ref="ChargeDescription" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ChargeName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChargeAmount" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Currency amount of the additional charge</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ChargeDescription" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Description of the additional charge</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CityName">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of city or town.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="PostalCode" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CompanyName">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name and/or company code that may be associated with a membership or loyalty program, organization, or provider.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="CompanyCode" type="xs:string"/>
					<xs:attribute name="CodeContext" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contact">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines contact information for an individual or company.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContactPerson" minOccurs="0"/>
				<xs:element ref="ContactTelephone" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ContactAddress" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ContactEmail" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ContactURL" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ContactCompany" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="DefaultInd">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ContactType" type="xs:string"/>
			<xs:attribute name="EmergencyFlag" type="xs:string"/>
			<xs:attribute name="RPH" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContactAddress">
		<xs:annotation>
			<xs:documentation xml:lang="en">Address of person/company to contact.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContactCompany">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of company to contact.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CompanyName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContactEmail">
		<xs:annotation>
			<xs:documentation xml:lang="en">Email of person/company to contact</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="DefaultInd">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Yes"/>
								<xs:enumeration value="No"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="EmailType" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContactPerson">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of person to contact.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PersonName"/>
			</xs:sequence>
			<xs:attribute name="Relation" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContactTelephone">
		<xs:annotation>
			<xs:documentation xml:lang="en">Telephone number of person/company to contact.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Telephone"/>
			</xs:sequence>
			<xs:attribute name="DefaultInd">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PhoneUseType" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContactURL">
		<xs:annotation>
			<xs:documentation xml:lang="en">URL of person/company to contact.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="DefaultInd">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Yes"/>
								<xs:enumeration value="No"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="URL_Type" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CountryName">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of the country specified in the address.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="CountryCode" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Coverage">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about the type of insurance coverage that applies to all travelers.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Deductible" minOccurs="0"/>
				<xs:element ref="PolicyLimit" minOccurs="0"/>
				<xs:element ref="IndividualLimit" minOccurs="0"/>
				<xs:element ref="DeliveryType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="CoverageType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="TripCancel"/>
						<xs:enumeration value="TripInterruption"/>
						<xs:enumeration value="Collision"/>
						<xs:enumeration value="BaggageDamageLoss"/>
						<xs:enumeration value="BaggageDelay"/>
						<xs:enumeration value="Medical"/>
						<xs:enumeration value="TripProtection"/>
						<xs:enumeration value="SingleTripCov"/>
						<xs:enumeration value="MultiTripCov"/>
						<xs:enumeration value="HazardousActivity"/>
						<xs:enumeration value="Preexisting"/>
						<xs:enumeration value="FAP"/>
						<xs:enumeration value="Dental"/>
						<xs:enumeration value="Evacuate"/>
						<xs:enumeration value="TravelAssist"/>
						<xs:enumeration value="TravelDelay"/>
						<xs:enumeration value="AccDandD"/>
						<xs:enumeration value="FamilyCoverage"/>
						<xs:enumeration value="OtherPlan"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EffectiveDate" type="xs:string"/>
			<xs:attribute name="Covered">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Unlimited">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Deductible" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">The amount of out-of-pocket expense the covered individual must pay per claim</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeliveryType" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Method by which the confirmation materials will be sent to the customer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DepartureDate" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date traveler(s) first depart on their journey.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DepositDate" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date traveler(s) made their initial monetary deposit towards their journey.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Destination">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a single destination point of the traveler(s) journey as well as arrival and departure dates.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address"/>
			</xs:sequence>
			<xs:attribute name="DestArrivalDate" type="xs:string"/>
			<xs:attribute name="DestDepartureDate" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Destinations">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for any number of destinations that the traveler(s) will reach during their journey. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Destination" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FinalPayDate" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date traveler(s) made their last payment towards their journey.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GivenName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Given name, first name or names.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IndividualLimit" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">The dollar amount of available coverage for an individual.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InsureTripCost" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Estimated trip cost, or the total price of the journey for the traveler.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InsureTripQty" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">The number of trips the traveler(s) plan on taking during the year.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MaxTripLength" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">The maximum trip length the traveler(s) plan on taking during the year.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MiddleName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Middle name or names.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NamePrefix" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Salutation or honorific (e.g. Mr., Mrs., Ms., Miss, Dr., etc).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NameSuffix" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Suffix that follows surname.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NameTitle" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Degree or honors often used with a person's name.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Package">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines coverage options specific to package plans.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Coverage" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="InsureTripCost" minOccurs="0"/>
				<xs:element ref="TripFeatures" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="EffectiveDate" type="xs:string"/>
			<xs:attribute name="ExpireDate" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonName">
		<xs:annotation>
			<xs:documentation xml:lang="en">Names of an individual.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NamePrefix" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="GivenName" minOccurs="0"/>
				<xs:element ref="MiddleName" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Surname"/>
				<xs:element ref="NameSuffix" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NameTitle" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="DefaultInd">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NameType" type="xs:string"/>
			<xs:attribute name="Gender">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Male"/>
						<xs:enumeration value="Female"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BirthDate" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlanCost">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains information about the total price of the insurance plan.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Premium" minOccurs="0"/>
				<xs:element ref="AdditionalCharges" minOccurs="0"/>
				<xs:element ref="TotalPlanCost"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlanForQuoteRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains a quote response for a single insurance plan.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="QuoteDetail"/>
				<xs:element ref="PlanType" minOccurs="0"/>
				<xs:element ref="PlanCost"/>
				<xs:element ref="Contact" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ISOCurrency" type="xs:string"/>
			<xs:attribute name="PlanID" type="xs:string"/>
			<xs:attribute name="Type" type="xs:string"/>
			<xs:attribute name="PlanName" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlanRestriction">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains a single restriction to coverage by the booked plan.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="PlanRestCode" type="xs:string"/>
					<xs:attribute name="PlanRestCodeContext" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlanRestrictions">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains all restrictions to coverage by the booked plan.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PlanRestriction" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlanType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides vendor with information about the type of plan being booked.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Annual"/>
				<xs:element ref="Package"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PolicyLimit" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">The dollar amount of available coverage for the policy.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Premium" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Cost for the insurance coverage alone (minus any fees/taxes).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuoteDetail">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains the information about the plan, such as the name of the insurance company and restrictions, specific to the quote.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CompanyName"/>
				<xs:element ref="PlanRestrictions" minOccurs="0"/>
				<xs:element ref="BookingURL" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="URL" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReturnDate" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date traveler(s) return home from their journey.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StateProv">
		<xs:annotation>
			<xs:documentation xml:lang="en">State, province, or region name or code that identifies a location.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="StateCode" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="StreetNmbr">
		<xs:annotation>
			<xs:documentation xml:lang="en">Street name; number on street.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="PO_Box" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Surname" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">surname, last name or names.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Telephone">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a telephone number.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="PhoneTechType" type="xs:string"/>
			<xs:attribute name="PhoneUseType" type="xs:string"/>
			<xs:attribute name="CountryAccessCode" type="xs:string"/>
			<xs:attribute name="AreaCityCode" type="xs:string" use="required"/>
			<xs:attribute name="PhoneNumber" type="xs:string" use="required"/>
			<xs:attribute name="Extension" type="xs:string"/>
			<xs:attribute name="PIN" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TotalPlanCost" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Total cost of the insurance plan (premium + any additional charges).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TripFeatures">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about the traveler(s) journey that is necessary for quoting/booking the insurance.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepartureDate" minOccurs="0"/>
				<xs:element ref="ReturnDate" minOccurs="0"/>
				<xs:element ref="DepositDate" minOccurs="0"/>
				<xs:element ref="FinalPayDate" minOccurs="0"/>
				<xs:element ref="Destinations" minOccurs="0"/>
				<xs:element ref="Activities" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="TripOperator" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TripOperator">
		<xs:annotation>
			<xs:documentation xml:lang="en">Company or organization operating the trip/tour/cruise</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CompanyName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="URL">
		<xs:annotation>
			<xs:documentation xml:lang="en">Web site address.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="URL_Type" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
