OTA1.0/OTA2002A/2002A_XSD/OTA_InsuranceQuoteRQ.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XML Spy v4.2 (http://www.xmlspy.com) by Michael Schreiber (Insuractive, Inc.) --><xs:schema targetNamespace="http://www.opentravel.org/OTA/2002/08" xmlns="http://www.opentravel.org/OTA/2002/08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="2002A">	<xs:include schemaLocation="OTA_InsuranceCommonTypes.xsd"/>	<xs:element name="OTA_InsuranceQuoteRQ">		<xs:annotation>			<xs:documentation>Container for insurance quote requests</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:sequence>				<xs:element name="POS" type="POS_Type" minOccurs="0">					<xs:annotation>						<xs:documentation>Container for any Point-of-sale information.</xs:documentation>					</xs:annotation>				</xs:element>				<xs:element name="PlanForQuoteRQ" maxOccurs="unbounded">					<xs:annotation>						<xs:documentation>Requests a quote for a single insurance plan</xs:documentation>					</xs:annotation>					<xs:complexType>						<xs:complexContent>							<xs:extension base="InsCoverageType">								<xs:sequence>									<xs:element name="InsuranceCustomer" type="InsuranceCustomerType" minOccurs="0"/>								</xs:sequence>							</xs:extension>						</xs:complexContent>					</xs:complexType>				</xs:element>			</xs:sequence>			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>		</xs:complexType>	</xs:element></xs:schema>