OTA1.0/OTA2002A/2002A_XSD/OTA_PkgAvailRQ.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema targetNamespace="http://www.opentravel.org/OTA/2002/08" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2002/08" elementFormDefault="qualified" version="2002A">	<xs:include schemaLocation="OTA_PKG_CommonTypes.xsd"/>	<xs:element name="OTA_PkgAvailRQ">		<xs:annotation>			<xs:documentation>A request for availability of a specific package.</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:sequence>				<xs:element name="POS" type="POS_Type" minOccurs="0"/>				<xs:element name="SearchDateRange" type="DateTimeSpanType" minOccurs="0"/>				<xs:element name="PackageRequest" type="PackageType"/>				<xs:element name="CustomerCounts" type="CustomerCountsType" minOccurs="0"/>				<xs:element name="URL" type="URL_Type" minOccurs="0">					<xs:annotation>						<xs:documentation>An alternative method of identifying the full tour package. </xs:documentation>					</xs:annotation>				</xs:element>				<xs:element ref="TPA_Extensions" minOccurs="0"/>			</xs:sequence>			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>			<xs:attributeGroup ref="ReqRespVersion"/>		</xs:complexType>	</xs:element></xs:schema>