OTA1.0/OTA2002A/2002A_XSD/OTA_HotelSearchRQ.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema targetNamespace="http://www.opentravel.org/OTA/2002/08" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2002/08" elementFormDefault="qualified" version="2002A">	<xs:include schemaLocation="OTA_HotelCommonTypes.xsd"/>	<xs:element name="OTA_HotelSearchRQ">		<xs:annotation>			<xs:documentation xml:lang="en">Identifies the initial request for hotel property data.</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:sequence>				<xs:element name="POS" type="POS_Type" minOccurs="0"/>				<xs:element name="Criteria" type="HotelSearchCriteriaType"/>			</xs:sequence>			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>			<xs:attribute name="MaxResponses" type="NumericStringLength4" use="required">				<xs:annotation>					<xs:documentation xml:lang="en">A positive integer value that indicates the maximum number of responses desired in the return.</xs:documentation>				</xs:annotation>			</xs:attribute>			<xs:attributeGroup ref="ResponseTypeGroup"/>		</xs:complexType>	</xs:element></xs:schema>