OTA1.0/OTA2005B/_OTA2005B_XMLFlattenedSchema/FS_OTA_CruiseFareAvailRS.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.000" id="OTA2005B" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05">
	
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA 
specification are made available according to the terms defined by the OTA 
License Agreement at 
http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_CruiseFareAvailRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">
The Fare Availability Response message contains fares availability 
for a given sailing with a specific Mode of Transportation/GatewayCity pair and currency. For each fare the following information may be 
returned:
- Fare Code
- Status code
- First and second dining services status
- Fare indicator
- Alternate available modes of transportation
- Alternate available currencies
- Cruise package information
- Group Code

This message does not return fare amounts. Fare availability returns the different fare codes that the cruise line use to group categories. Example of fare code are: 
- best fare
- past passenger fare</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation xml:lang="en"> Standard way to indicate successful 
processing of an OTA message. Returning an empty element of this type indicates 
success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en"> Standard way to indicate successful 
processing of an OTA message, but one in which warnings are 
generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SailingInfo" type="SailingType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the selected sailing information. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Currency in which the fares are being returned.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attributeGroup ref="CurrencyCodeGroup"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="AlternateCurrencyList" minOccurs="0" maxOccurs="5">
						<xs:annotation>
							<xs:documentation xml:lang="en">Other available currencies for this sailing.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attributeGroup ref="CurrencyCodeGroup"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="FareCodeOptions" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the different fare options available for the selected sailing.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FareCodeOption" type="FareCodeOptionType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="en">Specifies the fare information available for the selected sailing.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="TPA_Extensions" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation xml:lang="en"> A collection of errors that occurred during 
the processing of a message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
<!-- OTA_SimpleTypes.xsd --><xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="DateOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a dateTime value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:dateTime"/>
	</xs:simpleType><xs:simpleType name="ListOfOTA_CodeType">
		<xs:list itemType="OTA_CodeType"/>
	</xs:simpleType><xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Numeric1to99">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 99 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_CommonTypes.xsd --><xs:element name="TPA_Extensions" type="TPA_Extensions_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">A placeholder in the schema to allow for additional elements and attributes to be included if required, per Trading Partner Agreement (TPA).</xs:documentation>
		</xs:annotation>
	</xs:element><xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate that an error occurred during the processing of an OTA message</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Error element MUST contain the Type attribute that uses a recommended set of values to indicate the error type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup"/>
				<xs:attribute name="NodeList" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">An XPath expression that selects all the nodes whose data caused this error.  Further, this expression should have an 	additional contraint which contains the data of the node.  This will provide the offending data back to systems that cannot maintain the original message. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ErrorsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of errors that occurred during the processing of a message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Error" type="ErrorType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="FormattedTextTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides text and indicates whether it is formatted or not.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Formatted" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Textual information, which may be formatted as a line of information, or unformatted, as a paragraph of text.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="LanguageGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="FreeTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Textual information to provide descriptions and/or additional information.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="LanguageGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="LocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code and optional string to describe a location point.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="LocationCode" type="StringLength1to8" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">Code used to identify a location. 


</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CodeContext" type="StringLength1to32" default="IATA">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the context of the identifying code (e.g., IATA, ARC, or internal code).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ParagraphType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An indication of a new paragraph for a sub-section of a formatted text message.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="99">
			<xs:element name="Text" type="FormattedTextTextType"/>
			<xs:element name="Image" type="xs:string"/>
			<xs:element name="URL" type="xs:anyURI"/>
			<xs:element name="ListItem">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FormattedTextTextType">
							<xs:attribute name="ListItem" type="xs:integer" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Name" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">In many cases the description repeats, this will allow you to define the information that is being sent, typically used when multiple occurrences of ParagraphType are being sent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ParagraphNumber" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="DateTimeStampGroup"/>
		<xs:attributeGroup ref="LanguageGroup"/>
	</xs:complexType><xs:complexType name="SuccessType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message. Returning an empty element of this type indicates success.</xs:documentation>
		</xs:annotation>
	</xs:complexType><xs:complexType name="TPA_Extensions_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows extensions 
to be added to the OTA specification per trading partner agreement.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="WarningType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message, but one in which warnings are generated</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Warning element MUST contain the Type attribute that uses a recommended set of values to indicate the warning type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="WarningsType">
		<xs:sequence>
			<xs:element name="Warning" type="WarningType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType><xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional"/>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyAmountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amount" type="Money" use="optional"/>
		<xs:attributeGroup ref="CurrencyCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed as well as the number of decimal places of that currency.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the number of decimal places for a particular currency. This is equivalent to the ISO 4217 standard "minor unit". Typically used when the amount provided includes the minor unit of currency without a decimal point (e.g., USD 8500 needs DecimalPlaces="2" to represent $85).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DateTimeStampGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Creation date time, Creator Id, last modification date time and last Modifier Id.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreatorID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">ID of creator. The creator could be a software system identifier or an identifier of an employee resposible for the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifyDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of last modification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifierID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the last software system or person to modify a record.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ErrorWarningAttributeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to identify an application error by either text, code, or by an online description and also to give the status, tag, and/or identification of the record that may have caused the error.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShortText" type="StringLength1to64" use="optional"/>
		<xs:attribute name="Code" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this refers to a table of coded values exchanged between applications to identify errors or warnings. Refer to OTA Code List Error Codes (ERR).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocURL" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this URL refers to an online description of the error that occurred.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, recommended values are those enumerated in the OTA_ErrorRS, (NotProcessed | Incomplete | Complete | Unknown) however, the data type is designated as string data, recognizing that trading partners may identify additional status conditions not included in the enumeration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Tag" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute may identify an unknown or misspelled tag that caused an error in processing. It is recommended that the Tag attribute use XPath notation to identify the location of a tag in the event that more than one tag of the same name is present in the document. Alternatively, the tag name alone can be used to identify missing data [Type=ReqFieldMissing].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RecordID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute allows for batch processing and the identification of the record that failed amongst a group of records.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="LanguageGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies language.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Language identification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Continuation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group"/>
		<xs:attributeGroup ref="AltLangID_Group"/>
		<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to TRUE) only when a message is retransmitted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><!-- OTA_CruiseCommonTypes.xsd --><xs:complexType name="FareCodeOptionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies fare option info.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FareRemark" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains a remark pertaining to the fare.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FreeTextType"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ListOfFareQualifierCode" type="ListOfOTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specify the type of fare. For example it could specify that the fare applies to a past passenger. Refer to OTA Code table Fare Qualifier (FQC).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the status of the fare. Refer to OTA Code table Status (STS).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FareDescription" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Contains a description of the fare.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="FareGroup"/>
	</xs:complexType><xs:complexType name="SailingType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies sailing information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CruiseLine">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains cruise line specific information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="ShipReferenceGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the cruise vendor and ship.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="Region" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains region specific information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="RegionGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the region for the sailing.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeparturePort" type="LocationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains cruise departure port information. Departure port defines the start place of the cruise sailing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalPort" type="LocationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains cruise arrival port information. Arrival port defines the end place of the cruise sailing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dining" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the availability of the particular sitting.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Sitting" type="StringLength1to64" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Dining service. Typical values are: first, second, third, open.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Status" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Dining status. Refer to OTA Code table Status (STS).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Transportation" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the mode of transportation options associated with the sailing</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="TransportationMode" type="OTA_CodeType" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Transportation mode code. Refer to OTA Code List Transportation Code (TRP).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Status" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Status code for the mode of transportation. Refer to OTA Code table Status (STS).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="InclusivePackageOption" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the available inclusive package. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CruisePackageGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the package information.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="Information" type="ParagraphType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies cruise line registration procedures and other free text information. The name attribute is used to define the type of information. Registration procedures are messages that advise customers who are not registered with the cruise line how to do so. Usually non registered customers cannot get access to the cruise line inventory.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ListOfSailingDescriptionCode" type="ListOfOTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Different qualifiers of the sailing (e.g., groups exist on this sailing; inclusive packages available; or no itinerary description available). Refer to OTA Code Table Sailing Description Code (SAI).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DepartureDate" type="DateOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Sailing departure date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Duration" type="xs:duration" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Sailing duration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="VoyageID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Cruise line specific reference number for the specific sailing. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PortsOfCallQuantity" type="Numeric1to99" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Number of ports of call that the specific sailing has.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Sailing availability status. Refer to OTA Code table Status (STS).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaxCabinOccupancy" type="Numeric1to99" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Maximum cabin occupancy available on this specific sailing (ship).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CategoryLocation" type="CategoryLocationType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the different category locations available on the ship.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="CurrencyAmountGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate the lowest starting prices on this sailing.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="AlternateCurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code. Used when an additional currency code is available for use by the cruise line.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:attributeGroup name="CruisePackageGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies package type.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CruisePackageCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the inclusive package code as defined by the cruise line.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InclusiveIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, specifies the package is included in the cruise arrangement.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="StartDate" type="DateOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to specify the package start date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="FareGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies fare code and group code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FareCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the fare code.  Fare codes are specific to individual cruise lines.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GroupCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the group code.   Group codes are specific to individual cruise lines.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="RegionGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains the region information for the sailing</xs:documentation>
		</xs:annotation>
		<xs:attribute name="RegionCode" type="StringLength1to8" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies a region code as commonly defined by the cruise line industry.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RegionName" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the region name as commonly defined by the cruise line industry.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ShipReferenceGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a vendor and ship.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="VendorCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the operator of the ship (e.g. cruise line or ferry company).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="VendorName" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the name of the operator of the ship (e.g. a cruise line or ferry company).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ShipCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the ship code as defined by the cruise line.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ShipName" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the ship name as specified by the cruise line.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="VendorCodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source authority for the code (e.g., IATA); typically used with VendorCode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:simpleType name="CategoryLocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies the category location preference.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Inside">
				<xs:annotation>
					<xs:documentation xml:lang="en">No window.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Outside">
				<xs:annotation>
					<xs:documentation xml:lang="en">On the outside of the ship generally has a window, porthole or balcony.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Both">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used to identify that the category contains both inside and outside cabins.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType></xs:schema>
