OTA1.0/OTA2005B/_OTA2005B_XML/OTA_CruiseCabinAvailRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.000" id="OTA2005B">
	<xs:include schemaLocation="OTA_CommonPrefs.xsd"/>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="OTA_CruiseCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA 
specification are made available according to the terms defined by the OTA 
License Agreement at 
http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_CruiseCabinAvailRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">
The Cabin Availability Response message contains a list of cabins available for a given sailing with a specific Mode of Transportation/GatewayCity pair and currency and for a selected fare/category pair. For each cabin the following information may be 
returned:
- Cabin number
- Position in ship
- Ship side
- Category location
- Remark
- Deck name
- Bed options
- Max cabin occupancy
- Remark
- Cabin size
- Berthed Category Code
- Priced Category Code
- Status code
- Category indicator
- Cruise package information
- Group Code
- Fare Code
- Currency Code
- Marketing message.    </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation xml:lang="en"> Standard way to indicate successful 
processing of an OTA message. Returning an empty element of this type indicates 
success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en"> Standard way to indicate successful 
processing of an OTA message, but one in which warnings are 
generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SailingInfo" type="SailingCategoryInfoType">
						<xs:annotation>
							<xs:documentation xml:lang="en">Requested sailing information. Specifies the selected category that the cabins belong to. It is the category that has been selected in the previous category availability response.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SelectedFare">
						<xs:annotation>
							<xs:documentation xml:lang="en">Contains the information about the fare that has been selected from the previous fare availability response.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attributeGroup ref="FareGroup"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="CabinOptions">
						<xs:annotation>
							<xs:documentation xml:lang="en">Contains the list of proposed cabin options.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CabinOption" maxOccurs="99">
									<xs:annotation>
										<xs:documentation xml:lang="en">Contains information about the proposed cabin, It locates the cabin on the ship and gives the cabin bed configuration.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies cabin option info.</xs:documentation>
										</xs:annotation>
										<xs:sequence>
											<xs:element name="CabinConfiguration" minOccurs="0" maxOccurs="5">
												<xs:annotation>
													<xs:documentation xml:lang="en">Specifies cabin bed configuration.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="BedConfigurationCode" type="StringLength1to8" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">Contains a code defining the bed configuration in the cabin.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="MeasurementInfo" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Specifies the cabin and balcony area.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="BalconyArea" type="xs:decimal" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">Used to designate the area for the balcony.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="CabinArea" type="xs:decimal" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">Used to designate the area for the cabin.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="UnitOfMeasure" type="StringLength1to16" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">Indicates the unit of measure for the area attributes (e.g., square meters or square feet). </xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="Remark" type="FreeTextType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Remark information related to the cabin option.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CabinFilters" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Collection of cabin filters.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="CabinFilter" maxOccurs="99">
															<xs:annotation>
																<xs:documentation xml:lang="en">Used to describe the features of the cabin.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute name="CabinFilterCode" type="OTA_CodeType" use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">Code values representing attributes that are valid for this cabin.  Refer to OTA Code List Cabin Filters (CBF).</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="Status" type="OTA_CodeType" use="required">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specifies the status of the cabin. Refer to OTA Code table Status (STS).</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="CategoryLocation" type="CategoryLocationType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specifies the category location.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ShipSide" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Identifies the ship side location of the cabin.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="Starboard">
														<xs:annotation>
															<xs:documentation xml:lang="en">Right side.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="Port">
														<xs:annotation>
															<xs:documentation xml:lang="en">Left side.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="PositionInShip" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Position of the cabin in ship (e.g., aft).</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="After"/>
													<xs:enumeration value="Forward"/>
													<xs:enumeration value="Middle"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="MaxOccupancy" type="Numeric1to99" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Maximum number of passengers per cabin.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DeckName" type="StringLength1to32" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Name of the deck on the ship where the cabin is located.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="CabinNumber" type="StringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specifies the cabin number.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="BedType" type="StringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specifies the cruise defined bed type for this cabin.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Information" type="ParagraphType" minOccurs="0" maxOccurs="5">
						<xs:annotation>
							<xs:documentation xml:lang="en">Contains information such as advisories or marketing messages returned by the cruise line.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="TPA_Extensions" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation xml:lang="en"> A collection of errors that occurred during 
the processing of a message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
