OTA1.0/OTA2004A/_OTA2004A_XML/OTA_AirFlifoRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.002" id="OTA2004A">
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_AirCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
<xs:annotation>
  <xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
  </xs:annotation>	
<xs:element name="OTA_AirFlifoRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details of flight departure, arrival and gate information for a particular flight, including actual as well as scheduled departure and arrival times.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation> Standard way to indicate successful processing of an OTA message. 

Returning an empty element of this type indicates success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation> Standard way to indicate successful processing of an OTA message, but 

one in which warnings are generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlightInfoDetails">
						<xs:annotation>
							<xs:documentation xml:lang="en"> Collection of flight information for a flight number.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FlightLegInfo" maxOccurs="10">
									<xs:annotation>
										<xs:documentation xml:lang="en">Information regarding each leg of the flight. A flight leg is one departure and one arrival (non-stop sector). </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DepartureAirport">
												<xs:annotation>
													<xs:documentation> Departure airport for flight leg.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="AirportLocationType">
															<xs:sequence>
																<xs:element name="Comment" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">Any special comments about the departure airport.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="FreeTextType"/>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="ArrivalAirport" maxOccurs="2">
												<xs:annotation>
													<xs:documentation xml:lang="en">Arrival point of flight segment. Second occurrence indicates diversion airport.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="AirportLocationType">
															<xs:sequence>
																<xs:element name="Comment" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">Any special comments about the arrival airport.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="FreeTextType"/>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="Diversion" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Indicates the flight has diverted to this airport.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="BaggageClaim" type="StringLength1to8" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Specifies the location or carousel number for baggage from the arriving flight.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="MarketingAirline" type="CompanyNameType">
												<xs:annotation>
													<xs:documentation xml:lang="en">The marketing airline.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="OperatingAirline" type="OperatingAirlineType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The operating airline of the flight if it is a codeshare  flight.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Equipment" type="EquipmentType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en"> The type of equipment  used for the  flight..</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Comment" minOccurs="0" maxOccurs="5">
												<xs:annotation>
													<xs:documentation xml:lang="en">Any special comments on the leg such as travel advisory messages, passenger advisory messages, etc.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="FreeTextType"/>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="DepartureDateTime">
												<xs:annotation>
													<xs:documentation xml:lang="en">Specifies scheduled and other  date time information.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="Scheduled" type="TimeOrDateTimeType">
														<xs:annotation>
															<xs:documentation> Scheduled departure date/time for flight leg.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="Estimated" type="TimeOrDateTimeType">
														<xs:annotation>
															<xs:documentation> Estimated departure date/time for flight leg.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="Actual" type="TimeOrDateTimeType">
														<xs:annotation>
															<xs:documentation> Actual operational departure date/time for flight leg.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="ArrivalDateTime">
												<xs:annotation>
													<xs:documentation xml:lang="en">Specifies scheduled and other date time information.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="Scheduled" type="TimeOrDateTimeType">
														<xs:annotation>
															<xs:documentation> Scheduled arrival date/time for flight leg.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="Estimated" type="TimeOrDateTimeType">
														<xs:annotation>
															<xs:documentation> Estimated arrival date/time for flight leg.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="Actual" type="TimeOrDateTimeType">
														<xs:annotation>
															<xs:documentation> Actual operational arrival date/time for flight leg.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="OperationTimes" minOccurs="0">
												<xs:annotation>
													<xs:documentation> A collection of OperationTimes.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="OperationTime" maxOccurs="99">
															<xs:annotation>
																<xs:documentation xml:lang="en">Provides information on operational events for this flight leg e.g. off-ground.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="ReasonCode" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">The reason attributed to a delay or cancellation.  </xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:attributeGroup ref="CodeListGroup"/>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="Time" type="TimeOrDateTimeType" use="required">
																	<xs:annotation>
																		<xs:documentation> Time or date/time an operational event happened.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="OperationType" type="OTA_CodeType" use="required">
																	<xs:annotation>
																		<xs:documentation> Type of operational event (e.g., off-ground).</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="TimeType" use="required">
																	<xs:annotation>
																		<xs:documentation> Describes whether the operational event time is scheduled, estimated or actual.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:NMTOKEN">
																			<xs:enumeration value="Actual">
																				<xs:annotation>
																					<xs:documentation> The actual operation time.</xs:documentation>
																				</xs:annotation>
																			</xs:enumeration>
																			<xs:enumeration value="Scheduled">
																				<xs:annotation>
																					<xs:documentation> The scheduled time.</xs:documentation>
																				</xs:annotation>
																			</xs:enumeration>
																			<xs:enumeration value="Estimated">
																				<xs:annotation>
																					<xs:documentation> The estimated time.</xs:documentation>
																				</xs:annotation>
																			</xs:enumeration>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attributeGroup ref="FlifoLegAttributes"/>
										<xs:attribute name="FlightStatus" type="StringLength1to32" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Status of the current flight operation. </xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="Comment" type="FreeTextType" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation xml:lang="en">Any special comments on the flight.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="MessageStatus" type="StringLength1to32" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Indicates various status information about the flight such as real-time, scheduled or flight cancelled.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="AirDetailsRSAttributes"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation> A collection of errors that occurred during the processing of a message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes">
				<xs:annotation>
					<xs:documentation> The OTA_PayloadStdAttributes defines the standard attributes that 

appear on the root element for all OTA payloads.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="FlifoLegAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en"> Provides information for a flight leg.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FlightNumber" type="FlightNumberType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en"> The flight number of the flight.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="JourneyDuration" type="xs:duration" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en"> The duration of the flight from departure location to destination  location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GroundDuration" type="xs:duration" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en"> The duration of a ground stop.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AccumulatedDuration" type="xs:duration" use="optional">
			<xs:annotation>
				<xs:documentation> The total duration time of the flight. This is the combination of both JourneyDuration and GroundDuration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LegDistance" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
		Miles aquired per flight segments, usually used for earning of frequent flyer miles.
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
