OTA1.0/OTA2008B/OTA2008B_XML/OTA_DynamicPkgCommonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1" id="OTA2008B">
	<xs:include schemaLocation="OTA_AirCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_HotelReservation.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/Specifications/Default.aspx</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AirComponentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An air trip that is part of the dynamic package.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirItinerary" type="AirItineraryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Specifies the origin and destination of the traveler. Attributes: DirectionInd - A directional indicator that identifies a type of air booking, either one-way, round-trip, or open-jaw with the enumeration of (OneWay | RT | OpenJaw) respectively. ActionCode - Indicates the status of the booking, such as OK or Wait-List. NumberInParty - Indicates the traveler count. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirItineraryPricingInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Pricing Information for an Air Itinerary.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AirItineraryPricingInfoType">
							<xs:attribute name="RepriceRequired" type="xs:boolean">
								<xs:annotation>
									<xs:documentation xml:lang="en"> If true re-pricing of the itinerary is required. </xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Notes" type="FreeTextType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides for free form descriptive information for the priced itinerary.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TicketingInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Container for TicketingInfoRS_Type.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="TicketingInfoRS_Type">
							<xs:sequence>
								<xs:element name="DeliveryInfo" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation xml:lang="en">Shipping information for the ticket.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="DistribType" type="OTA_CodeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">
															Specifies the manner in which a ticket will be sent to the traveler. Refer to OTA Code List Distribution Type (DTB).
														</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attributeGroup ref="CurrencyAmountGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specifies the cost of the ticket delivery option.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="PaymentType" type="ListOfOTA_CodeType" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the allowable forms of payment (i.e., check, cash, credit card).  Refer to OTA Code List Payment Type (PMT).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BookingReferenceID" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">This is used for PNR record locator.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ResID_Type" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines the type of  Reservation ID (e.g. reservation number, cancellation number). Refer to OTA Code List Unique ID Type (UIT).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ResID_Value" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the actual value associated with ResID_Type as generated by the system that is the source of the ResID_Type</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ResID_Source" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">A unique identifier to indicate the source system which generated the ResID_Value</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ResID_SourceContext" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Additional information on Source </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ResID_Date" type="xs:dateTime" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Date of the creation of this reservation.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="CancelOriginatorCode" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Identifying code of the system that initiated the cancel of this reservation.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="CancellationDate" type="xs:dateTime" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Date this reservation was cancelled. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element ref="TPA_Extensions" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="DynamicPkgComponentGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the action being requested and/or the status of the air component as well as a reference number for a query and the length of time starting at the create time for which the component will be held.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date and time the air component was created.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DynamicPkgAirSearchType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of air search criteria.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DynamicPkgSearchType">
				<xs:sequence>
					<xs:element name="AirItinerary" type="AirItineraryType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The air itineraries to be priced.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OriginDestinationInformation" type="OriginDestinationInformationType" minOccurs="0" maxOccurs="5">
						<xs:annotation>
							<xs:documentation xml:lang="en">Information on the locations between which availability is to be checked.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecificFlightInfo" type="SpecificFlightInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Information used to specify a flight for which availablity is to be checked. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TravelPreferences" type="AirSearchPrefsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Air Availability Request preference information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TravelRefSummary" type="TravelRefSummaryType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used to specify passenger and fare information for which availablity is to be checked. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="TPA_Extensions" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="RequestType" type="AirComponentSearchType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The type of search.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DynamicPkgGlobalInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">ResGlobalInfo is a container for various information that affects the Reservation as a whole. These include global comments, counts, reservation IDs, loyalty programs, and payment methods.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ResGlobalInfoType">
				<xs:sequence>
					<xs:element name="DynamicPkgIDs" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A collection of unique identifiers that can be used to represent the dynamic package.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DynamicPkgID" type="UniqueID_Type" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Promotions" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Collection of promotions applied to the package</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Promotion" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>Provides promotion information associated with the package</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="DiscountInfoGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">Details regarding the promotion.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DynamicPkgHotelSearchType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of hotel search criteria.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DynamicPkgSearchType">
				<xs:sequence>
					<xs:element name="HotelSearchCriteria" type="HotelSearchCriteriaType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Hotel search criteria.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HotelReservationIDs" type="HotelReservationIDsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Provides the ability to link a hotel search to a previsously booked hotel room.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="TPA_Extensions" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="RequestType" type="HotelComponentSearchType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The type of search.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DynamicPkgIDsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of DynamicPkgID objects for a given reservation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DynamicPkgID" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">The DynamicPkgID object contains various unique identifiers that the trading partners associate with a given reservation.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ResID_Type" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines the type of  Reservation ID (e.g. reservation number, cancellation number). Refer to OTA Code List Unique ID Type (UIT).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ResID_Value" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the actual value associated with ResID_Type as generated by the system that is the source of the ResID_Type</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ResID_Source" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">A unique identifier to indicate the source system which generated the ResID_Value</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ResID_SourceContext" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Additional information on Source </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DynamicPkgResponseType" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains properties common to component response types.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PromotionCode" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Promotion code reference placeholder.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="RPH" type="RPH_Type" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is a reference placeholder, used as a unique index for this promotion code in this message.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Warnings" type="WarningsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message, but one in which warnings are generated.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="SequenceNumber" type="Numeric1to999" use="optional"/>
		<xs:attribute name="QuoteID" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference number used to match a query, with rates, to a given time. This is useful for matching prices within a given quote period.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DynamicPkgSearchType" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Basis for all component search types.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PromotionInfo" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Promotion code pertaining to this portion of the search.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="PromotionCodeRPH" type="RPH_Type" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">A unique reference to the promotion code.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="MaxResponses" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to specify the maximum number of responses to a request.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNumber" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to match up search critieria with component results.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DynamicPkgType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains pre-selected components and information about the guests and payments made on the existing reservation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Components" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of pre-selected components.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HotelComponent" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">A hotel room stay that is part of the dynamic package.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="HotelReservationType">
										<xs:attributeGroup ref="DynamicPkgComponentGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specifies the action being requested and/or the status of the hotel component as well as a reference number for a query and the length of time starting at the create time for which the component will be held.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="AirComponent" type="AirComponentType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">An air trip that is part of the dynamic package.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResGuests" type="ResGuestsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the guests associated with this reservation. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GlobalInfo" type="DynamicPkgGlobalInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information that affects the reservation as a whole. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="DynamicPkgActionStatusGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the action being requested and/or the status of the package.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="TravelRefSummaryType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains references to the DynamicPkgGuest the air search is for.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PassengerTypeQuantities" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the PTCs associated with this component of the dynamic package.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PassengerTypeQuantity" type="PassengerTypeQuantityType" minOccurs="0" maxOccurs="10">
							<xs:annotation>
								<xs:documentation xml:lang="en">Number of individuals traveling under this PTC</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TravelerRefNumbers" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains the list of traveler RPHs for this component of the dynamic package.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TravelerRefNumber" minOccurs="0" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Contains the RPH reference to the traveler.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="TravelerRefNumberGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">A reference place holder used as a pointer to link back to the traveler.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PriceRequestInformation" type="PriceRequestInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies pricing source, if negotiated fares are requested and if it is a reprice request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AirComponentSearchType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies search types for air components in dynamic packages.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LowestFare"/>
			<xs:enumeration value="Schedule"/>
			<xs:enumeration value="PriceFlights"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HotelComponentSearchType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies search types for hotel components in a dynamic package.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AvailPrice"/>
			<xs:enumeration value="Avail"/>
			<xs:enumeration value="PropertyList"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="DynamicPkgActionStatusGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies the action being requested and/or the status of the component or package.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DynamicPkgAction" type="TransactionActionType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The action being requested on the component or package.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DynamicPkgStatus" type="TransactionStatusType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The status of the component or package.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="DynamicPkgComponentGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies common attributes that are part of the components of a dynamic package.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="HoldDuration" type="xs:duration" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The length of time starting at the create time for which the component will be held.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="QuoteID" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference number used to match a query, with rates, to a given time. This is useful for matching prices within a given quote period.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="DynamicPkgActionStatusGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">specifies the action being requested and/or the status of the component or package</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup>
</xs:schema>
