OTA1.0/OTA2002B/2002B_XSD/OTA_ProfileCreateRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.opentravel.org/OTA/2002/11" xmlns="http://www.opentravel.org/OTA/2002/11" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="2002B">
	<xs:include schemaLocation="OTA_Profile.xsd"/>
	<xs:element name="OTA_ProfileCreateRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UniqueId" type="UniqueIdType"/>
				<xs:element name="Profile" type="ProfileType"/>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>

