OTA1.0/OTA2002B/2002B_XSD/OTA_CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.opentravel.org/OTA/2002/11" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2002/11" elementFormDefault="qualified" version="2002B">
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:attributeGroup name="AltLangIDGroup">
		<xs:attribute name="AltLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation>Identifies the alternate language preferred by the customer for the form of travel specified in a collection.
				 The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="AreaIdGroup">
		<xs:attribute name="AreaId" type="NumericStringLength8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used in place of a property code to retrieve availability across multiple properties in a hotel reservation system defined area.  This attribute does not map to a code list, it maps to a hotel reservation system defined value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="BirthDateGroup">
		<xs:attribute name="BirthDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the date of birth as indicated in the document, in ISO 8601 prescribed format.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="CodeListGroup">
		<xs:attribute name="Code" type="StringLength8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Any code used to specify an item, for example, type of traveler, service code, room amenity, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source authority for the code. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="URI" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the location of the code table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="QuantityGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the number of items.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup>
	<xs:attributeGroup name="CompanyIDAttributesGroup">
		<xs:attribute name="CompanyShortName" type="StringLength32" use="optional"/>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional"/>
		<xs:attribute name="Code" type="StringLength8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="CurrencyAmountGroup">
		<xs:annotation>
			<xs:documentation>Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amount" type="Money" use="required"/>
		<xs:attributeGroup ref="CurrencyCodeGroup"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="CurrencyCodeGroup">
		<xs:annotation>
			<xs:documentation>Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3to3" use="optional"/>
		<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the number of decimal places for a particular currency. This is equivalent to the ISO 4217 standard "minor unit".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="DOW_PatternGroup">
		<xs:attribute name="Mon" type="xs:boolean" use="optional"/>
		<xs:attribute name="Tue" type="xs:boolean" use="optional"/>
		<xs:attribute name="Weds" type="xs:boolean" use="optional"/>
		<xs:attribute name="Thur" type="xs:boolean" use="optional"/>
		<xs:attribute name="Fri" type="xs:boolean" use="optional"/>
		<xs:attribute name="Sat" type="xs:boolean" use="optional"/>
		<xs:attribute name="Sun" type="xs:boolean" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="DateTimeSpanGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA DateTimeSpan data type is based on the W3C base data types of timeInstant and timeDuration.</xs:documentation>
			<xs:documentation xml:lang="en">[Definition:]  The timeDuration datatype represents a combination of year, month, day and time values representing a single duration of time, encoded as a single string. </xs:documentation>
			<xs:documentation xml:lang="en">[Lexical Representation] The lexical representation for timeDuration is the [ISO 8601] extended format PnYn MnDTnH nMnS, where nY represents the number of years, nM the number of months, nD the number of days, 'T' is the date/time separator, nH the number of hours, nM the number of minutes and nS the number of seconds. The number of seconds can include decimal digits to arbitrary precision. As an example, 7 months, 2 days, 2hours and 30 minutes would be expressed as P0Y7M2DT2H30M0S. Truncated representations are allowed provided they conform to ISO 8601 format. </xs:documentation>
			<xs:documentation xml:lang="en">Time periods, i.e. specific durations of time, can be represented by supplying two items of information: a start instant and a duration or a start instant and an end instant or an end instant and a duration. The OTA standards use the XML mapping that provides for two elements to represent the specific period of time; a startInstant and a duration.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Start" type="DateOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The starting value of the time span. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Duration" type="xs:duration" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The lexical representation for timeDuration is the [ISO 8601] extended format PnYn MnDTnH nMnS, where nY represents the number of years, nM the number of months, nD the number of days, 'T' is the date/time separator, nH the number of hours, nM the number of minutes and nS the number of seconds. The number of seconds can include decimal digits to arbitrary precision. As an example, 7 months, 2 days, 2hours and 30 minutes would be expressed as P0Y7M2DT2H30M0S. Truncated representations are allowed provided they conform to ISO 8601 format.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="End" type="DateOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The ending value of the time span. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="DateTimeStampGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Creation date time, Creator ID, last modification date time and last Modifier ID.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreatorID" type="StringLength32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">ID of creator. The creator could be a software system identifier or an identifier of an employee responsible for the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifyDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of last modification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifierID" type="StringLength32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">ID of modifier. The modifier could be a software system identifier or an identifier of an employee responsible for the modification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="DefaultIndGroup">
		<xs:annotation>
			<xs:documentation>Indicates that the receiving system should assume the default value if the user specifies no overriding value or action.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DefaultInd" type="xs:boolean" use="optional" default="false"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="DistanceAttributesGroup">
		<xs:attribute name="Distance" type="NumericStringLength16">
			<xs:annotation>
				<xs:documentation xml:lang="en">An optional attribute indicating the distance to/from a reference point.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DistanceMeasure" type="StringLength16">
			<xs:annotation>
				<xs:documentation xml:lang="en">When the Distance attribute contains a value, (presumably a numerical value), the unit of measure is a string value that indicate what units are used for the value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Direction" type="StringLength8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An optional string value used to indicate the compass point(s) direction, e.g.: S, SE (South, Southeast), FROM the Reference Point TO the hotel location if the search is not a full circumference from the reference point.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="EffectiveExpireOptionalDateGroup">
		<xs:attribute name="EffectiveDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the starting date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExpireDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the ending date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ErrorWarningAttributes">
		<xs:attribute name="ShortText" type="StringLength64" use="optional"/>
		<xs:attribute name="Code" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this refers to a table of coded values exchanged between applications to identify errors or warnings.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocURL" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this URL refers to an online description of the error that occurred.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="StringLength64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, recommended values are those enumerated in the non-versioned Standard Error message, (NotProcessed | Incomplete | Complete | Unknown) however, the data type is designated as CDATA for versioned messages responses, recognizing that trading partners may identify additional status conditions not included in the enumeration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Tag" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute may identify an unknown or misspelled tag that caused an error in processing. It is recommended that the Tag attribute use XPath notation to identify the location of a tag in the event that more than one tag of the same name is present in the document. Alternatively, the tag name alone can be used to identify missing data [Type=ReqFieldMissing].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RecordId" type="StringLength32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute allows for batch processing and the identification of the record that failed amongst a group of records.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ErrorWarningType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A list of the types of errors or warnings that may be reported in a response message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The Warning element MUST contain the Type attribute that uses a recommended set of values to indicate the warning type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown᾿.  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="FeeTaxGroup">
		<xs:attribute name="Type" type="AmountDeterminationType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An enumerated type that defines the type of fees applied to a rate.</xs:documentation>
				<xs:documentation xml:lang="en">Values: Inclusive, Exclusive, Cumulative.  </xs:documentation>
				<xs:documentation xml:lang="en">Note: If FeeType= Cumulative, fees are accumulated on all previous fees in this ordered list.  For example, if this collection contains 5 different fees and the 4th fee is cumulative, the fee is based on an accumulation of the rate amount plus fees 1 through 3.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code identifying the fee (e.g.,agency fee, municipality fee, etc.).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Percent" type="Percentage" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Fee percentage; if zero, assume use of the Amount attribute (Amount or Percent must be a zero value).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Amount" type="Money" use="optional"/>
		<xs:attribute name="CurrencyCode" type="AlphaLength3to3" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="FormattedInd">
		<xs:annotation>
			<xs:documentation>Identifies if the associated data is formatted into its individual pieces, or exists as a single entity</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FormattedInd" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies if the associated data is formatted or not.  If not formatted, the address information will be found in the AddressLine elements.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="GenderGroup">
		<xs:annotation>
			<xs:documentation>Used to indicate the gender of a person, if known.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Gender" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Male"/>
					<xs:enumeration value="Female"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="HotelReferenceGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">HotelReference: The hotel reference identifies a specific hotel by using the Chain Code, the Brand Code, and the Hotel Code.  The codes used are agreed upon by trading partners.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ChainCode" type="StringLength8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that identifies a hotel chain or management group. The hotel chain code is decided between vendors.  This attribute is optional if the hotel is an independent property that can be identified by the HotelCode attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BrandCode" type="StringLength8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A code that identifies the brand or flag of a hotel, often used for independently-owned or franchised properties who are known by a specific brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="StringLength16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that uniquely identifies a single hotel property. The hotel code is decided between vendors.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCityCode" type="StringLength8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA city code; for example DCA, ORD.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelName" type="StringLength64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en"> A text field used to communicate the proper name of the hotel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCodeContext" type="StringLength32" use="optional">
			<xs:annotation>
				<xs:documentation>A text field used to communicate the context (or source of - ex Sabre, Galileo, Worldspan, Amadeus) the HotelReferenceGroup codes.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="AreaIdGroup"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="IdGroup">
		<xs:attribute name="Id" type="StringLength32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system, using the XML data type ID.  The Id attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="IdLevelTitleGroup">
		<xs:attributeGroup ref="IdOptionalGroup">
			<xs:annotation>
				<xs:documentation>Identifier assigned to the employee.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="Level" type="StringLength32">
			<xs:annotation>
				<xs:documentation>Level in employer organization (e.g. seniority) that coveys privileges.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Title" type="StringLength32">
			<xs:annotation>
				<xs:documentation>Title of employee in the employer company that conveys rank or privileges.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="IdOptionalGroup">
		<xs:attribute name="Id" type="StringLength32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system, using the XML data type ID.  The Id attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="LanguageGroup">
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation>Language identification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="LoyalLevelGroup">
		<xs:attribute name="LoyalLevel" type="StringLength16">
			<xs:annotation>
				<xs:documentation>Indicates special privileges in program assigned to individual.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="MaxResponsesGroup">
		<xs:attribute name="MaxResponses" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation>A positive integer value that indicates the maximum number of responses desired in the return.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="NameOptionalCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">An attribute group to be used when the associated item has a required name and an optional code. If the length of the name could exceed 64 characters the complexType LongNameoptionalCodeType should be used.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Name" type="StringLength64" use="required"/>
		<xs:attribute name="Code" type="StringLength8" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength64" use="optional"/>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional"/>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="OTA_VersionType" use="optional"/>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="PrimaryLangIDGroup"/>
		<xs:attributeGroup ref="AltLangIDGroup"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OfficeTypeGroup">
		<xs:attribute name="OfficeType" type="OfficeLocationType">
			<xs:annotation>
				<xs:documentation>Indicates main office, field office, or division of the organization.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalCodeOptionalNameGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">An attribute group to be used when the associated item has an  optional code and an optional name.  If the length of the name could exceed 64 characters the complexType OptionalCodeOptionalLongNameType should be used.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" type="StringLength8" use="optional"/>
		<xs:attribute name="Name" type="StringLength64" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PaymentCardDateGroup">
		<xs:attribute name="EffectiveDate" type="MMYYDate" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the starting date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExpireDate" type="MMYYDate" use="required">
			<xs:annotation>
				<xs:documentation>Indicates the ending date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="PositionGroup">
		<xs:attribute name="Latitude" type="StringLength16" use="optional"/>
		<xs:attribute name="Longitude" type="StringLength16" use="optional"/>
		<xs:attribute name="Altitude" type="StringLength16" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PreferLevelGroup">
		<xs:annotation>
			<xs:documentation>Used to indicate a level of preference for an associate item, only, unacceptable, preferred.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PreferLevel" type="PreferLevelType" default="Preferred"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PrimaryLangIDGroup">
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation>Identifies the primary language preference for the form of travel represented in a collection.
				 The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="PrivacyGroup">
		<xs:annotation>
			<xs:documentation>The two Privacy attributes allow for control of the sharing of data between parties.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShareSynchInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation> value="Inherit" Permission for sharing data for synchronization of information held by other travel service providers.							</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShareMarketInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation> value="Inherit" Permission for sharing data for marketing purposes.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ProfileTypeGroup">
		<xs:attribute name="ProfileType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Code to specify a profile such as Customer, Tour Operator, Corporation, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="PromotionCodeGroup">
		<xs:attribute name="PromotionCode" type="StringLength32">
			<xs:annotation>
				<xs:documentation xml:lang="en">Promotion code is the identifier used by the host to link directly with a specific named advertising campaign. By including the required code, the client is able to gain access to special offers which may have been created for a specifically targeted group via a CRM system or for a wider advertising campaign using Television or press adverts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="QuantityGroup">
		<xs:attribute name="Quantity" type="Numeric1to999" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ReferencePlaceHolderGroup">
		<xs:attribute name="RPH" type="RPH_Type">
			<xs:annotation>
				<xs:documentation>Used to provide a reference to an object that is stored elsewhere in a collection of the same objects.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="RemovalGroup">
		<xs:attribute name="Removal" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">If true, this item is obsolete and should be removed from the receiving system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ReqRespVersion">
		<xs:annotation>
			<xs:documentation xml:lang="en">The ReqRespVersion attribute is used to request the version of the payload message desired for the response.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ReqRespVersion" type="StringLength64"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="SeatRequestAttributes">
		<xs:annotation>
			<xs:documentation>Attributes for seat request. Note: you can choose a specific seat or just a general preference</xs:documentation>
		</xs:annotation>
		<xs:attribute name="SeatNumber" type="xs:string" use="optional"/>
		<xs:attribute name="SeatPreference" type="OTA_CodeType" use="optional"/>
		<xs:attributeGroup ref="SmokingIndicatorGroup"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ShareAllGroup">
		<xs:attribute name="ShareAllSynchInd" type="YesNoType" default="No">
			<xs:annotation>
				<xs:documentation>Permission for sharing all data in profile for synchronization of profiles held by other travel service providers.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ShareAllMarketInd" type="YesNoType" default="No">
			<xs:annotation>
				<xs:documentation>Permission for sharing all data in profile for marketing purposes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="SignupDateGroup">
		<xs:attribute name="SignupDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates when the member signed up for the loyalty program.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="SingleVendorIndGroup">
		<xs:attribute name="SingleVendorInd">
			<xs:annotation>
				<xs:documentation>Indicates if program is affiliated with a group of related offers accumulating credits.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="SingleVndr"/>
					<xs:enumeration value="Alliance"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="SmokingIndicatorGroup">
		<xs:annotation>
			<xs:documentation>Identifies a position with regard to the smoking of cigarettes, either Allowed or NotAllowed.  This may be of use when expressing a preference (I prefer a room that allows smoking) or when stating the attributes of an item (smoking in this rental car is not allowed).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="SmokingAllowed" type="xs:boolean" use="optional" default="false"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="TelephoneAttributesGroup">
		<xs:attribute name="PhoneLocationType" type="OTA_CodeType" use="optional"/>
		<xs:attribute name="PhoneTechType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates type of technology associated with this telephone number, such as Voice, Data, Fax, Pager, Mobile, TTY, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CountryAccessCode" type="NumericStringLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code assigned by telecommunications authorities for international country access identifier.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AreaCityCode" type="NumericStringLength8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code assigned for telephones in a specific region, city, or area.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PhoneNumber" type="StringLength32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Telephone number assigned to a single location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Extension" type="NumericStringLength5" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Extension to reach a specific party at the phone number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PIN" type="StringLength8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Additional codes used for pager or telephone access rights.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="TravelDateTimeAttributesGroup">
		<xs:attribute name="DayOfWeek" type="DayOfWeekType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The day of week of travel segment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CheckInTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The check in time and date of travel segment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DepartureDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The departure time and date of the travel segment</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ArrivalDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The arrival time and date of the travel segment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="UniqueIdGroup">
		<xs:attribute name="URL" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation xml:lang="en">URL that identifies the location associated with the record identified by the UniqueId. The URL references should be public URL used for an OTA discovery message between trading partners.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueId element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Instance" type="StringLength32">
			<xs:annotation>
				<xs:documentation xml:lang="en">The identification of a record as it exists at a point in time. An instance is used in update messages where the sender must assure the server that the update sent refers to the most recent modification level of the object being updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="IdGroup"/>
	</xs:attributeGroup>
	<xs:complexType name="AddressInfoType">
		<xs:annotation>
			<xs:documentation>Information about an address that identifies a location for a specific purposes.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AddressType">
				<xs:attributeGroup ref="DefaultIndGroup"/>
				<xs:attribute name="UseType" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation>Describes the use of the address.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="StreetNmbr" type="StreetNmbrType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Street Name and Number within the address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BldgRoom" type="StringLength64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Building name, room, apartment, or suite number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressLine" type="StringLength64" minOccurs="0" maxOccurs="5"/>
			<xs:element name="CityName" type="StringLength64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">City name eg. Dublin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="StringLength16" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Post Office Code number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="County" type="StringLength32" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">County Name eg. Fairfax</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateProv" type="StateProvType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">State name eg. Texas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="CountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country name eg. Ireland</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="FormattedInd"/>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attribute name="Type" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Defines the type of address such as home, business, other, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BankAcctType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Customer bank accounts for payments, either for paper checks or electronic funds transfer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BankAcctName" type="StringLength64" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attribute name="BankId" type="StringLength64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code assigned by authorities to financial institutions; sometimes called bank routing number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AcctType" type="StringLength32">
			<xs:annotation>
				<xs:documentation xml:lang="en">Describes the bank account used for financing travel, such as: Checking, Savings, Investment, etc.
					</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BankAcctNumber" type="StringLength32">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifier for the account assigned by the bank.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BookingChannelType">
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation>The type of booking channel. Valid Values: Global Distribution System (GDS), Alternative Distribution System (ADS), Sales and Catering System (SCS), Property Management System (PMS), Central Reservation System (CRS), Tour Operator System (TOS), Internet and ALL</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Primary" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates whether the enumerated booking channel is the primary means of connectivity used by the source.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CancelInfoRQType">
		<xs:sequence>
			<xs:element name="UniqueId" type="UniqueIdType" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Sending own UniqueID and partner UniqueID - the receiving system needs to know which one - UniqueID acts as a reference for each system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The person's name in a reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CancelType" type="TransactionActionType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CancelInfoRSType">
		<xs:sequence>
			<xs:element name="CancelRules" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CancelRule" type="CancelRuleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UniqueId" type="UniqueIdType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelRuleType">
		<xs:simpleContent>
			<xs:extension base="StringLength32">
				<xs:attribute name="CancelByDate" type="DateOrDateTimeType"/>
				<xs:attributeGroup ref="CurrencyAmountGroup"/>
				<xs:attribute name="Percent" type="Percentage"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CitizenCountryNameType">
		<xs:annotation>
			<xs:documentation>Name of the (self-professed) country that is claimed for citizenship</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="DefaultIndGroup"/>
		<xs:attribute name="Code" type="ISO3166"/>
	</xs:complexType>
	<xs:complexType name="CodePrefType">
		<xs:annotation>
			<xs:documentation>Provides a code along with the preferred usage of this information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" type="StringLength8" use="required"/>
		<xs:attributeGroup ref="PreferLevelGroup"/>
	</xs:complexType>
	<xs:complexType name="CommissionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The Commission element contains the data required for determining the commission amount to be paid to an agent.  The Commission Amount is calculated by applying a Percent to the CommissionableAmount and adding any flat amount that may apply.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UniqueId" type="UniqueIdType" minOccurs="0"/>
			<xs:element name="CommissionableAmount" type="CurrencyAmountType" minOccurs="0"/>
			<xs:element name="PrepaidAmount" type="CurrencyAmountType" minOccurs="0"/>
			<xs:element name="FlatCommission" type="CurrencyAmountType" minOccurs="0"/>
			<xs:element name="CommissionPayableAmount" type="CurrencyAmountType" minOccurs="0"/>
			<xs:element name="Comment" type="ParagraphType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="StatusType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Full"/>
					<xs:enumeration value="Partial"/>
					<xs:enumeration value="Non-paying"/>
					<xs:enumeration value="No-show"/>
					<xs:enumeration value="Adjustment."/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Percent" type="Percentage" use="optional"/>
		<xs:attributeGroup ref="CurrencyCodeGroup"/>
		<xs:attribute name="ReasonCode" type="StringLength8" use="optional"/>
		<xs:attribute name="BillToID" type="StringLength8" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attributeGroup ref="CompanyIDAttributesGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ConnectionType">
		<xs:sequence>
			<xs:element name="ConnectionLocation" maxOccurs="9">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="LocationType">
							<xs:attribute name="Inclusive" type="xs:boolean" use="optional" default="true"/>
							<xs:attributeGroup ref="PreferLevelGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">The preference level for the connection point - only, unacceptable, 	preferred.					</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="MinChangeTime" type="xs:nonNegativeInteger" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Number of minutes between connections.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="ConnectionInfo" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Via"/>
										<xs:enumeration value="Stop"/>
										<xs:enumeration value="Change"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactPersonType">
		<xs:annotation>
			<xs:documentation>Names of individuals to contact.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="PersonNameType" minOccurs="0"/>
			<xs:element name="Telephone" type="TelephoneInfoType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="Address" type="AddressInfoType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="Email" type="EmailType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="URL" type="URL_Type" minOccurs="0" maxOccurs="5"/>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="EmployeeInfo" type="EmployeeInfoType" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attributeGroup ref="DefaultIndGroup"/>
		<xs:attribute name="ContactType" type="StringLength32">
			<xs:annotation>
				<xs:documentation>Type of contact in the context of use for the travel experience; such as permanent, temporary, affiliation,
					 travel arranger, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Relation" type="StringLength32">
			<xs:annotation>
				<xs:documentation>Indicates the type of relationship with the person or company in the profile, such as Spouse, Child, Family, Business Associate, Interest Group, Medical, Security,Other, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EmergencyFlag" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Indicates if this contact should be used in the case of an emergency.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ReferencePlaceHolderGroup"/>
	</xs:complexType>
	<xs:complexType name="CountryNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The name of the country specified in the address.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="Code" type="ISO3166" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">ISO 3166 code for country in address.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CurrencyAmountType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:attributeGroup ref="CurrencyAmountGroup"/>
	</xs:complexType>
	<xs:complexType name="CustLoyaltyType">
		<xs:annotation>
			<xs:documentation>Program rewarding frequent use by accumulating credits for services provided by vendors.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attribute name="ProgramID" type="StringLength16">
			<xs:annotation>
				<xs:documentation>Identifier to indicate the company owner of the loyalty program.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MembershipId" type="StringLength32">
			<xs:annotation>
				<xs:documentation>Unique identifier of the member in the program, e.g. membership number, account number, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the travel sector.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="LoyalLevelGroup"/>
		<xs:attributeGroup ref="SingleVendorIndGroup"/>
		<xs:attributeGroup ref="SignupDateGroup"/>
		<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup"/>
		<xs:attributeGroup ref="ReferencePlaceHolderGroup"/>
	</xs:complexType>
	<xs:complexType name="CustomerType">
		<xs:annotation>
			<xs:documentation>Contains basic data on the customer's identity, location, relationships, finances, memberships, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="PersonNameType" minOccurs="0"/>
			<xs:element name="Telephone" type="TelephoneInfoType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="Email" type="EmailType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="Address" type="AddressInfoType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="URL" type="URL_Type" minOccurs="0" maxOccurs="5"/>
			<xs:element name="CitizenCountryName" type="CitizenCountryNameType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="PhysChallName" type="StringLength128" minOccurs="0" maxOccurs="5"/>
			<xs:element name="PetInfo" type="StringLength64" minOccurs="0" maxOccurs="3"/>
			<xs:element name="PaymentForm" type="PaymentFormType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="RelatedTraveler" type="RelatedTravelerType" minOccurs="0" maxOccurs="9"/>
			<xs:element name="ContactPerson" type="ContactPersonType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="Document" type="DocumentType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="CustLoyalty" type="CustLoyaltyType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="EmployeeInfo" type="EmployeeInfoType" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
		<xs:attributeGroup ref="GenderGroup"/>
		<xs:attribute name="Deceased" type="xs:boolean"/>
		<xs:attribute name="LockoutType" type="StringLength16">
			<xs:annotation>
				<xs:documentation>Indicates reason for locking out record, such as Emergency, Incident, etc. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="BirthDateGroup"/>
		<xs:attributeGroup ref="CurrencyCodeGroup">
			<xs:annotation>
				<xs:documentation>Type of funds preferred for reviewing monetary values, in ISO 4217 codes.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="DOW_PatternType">
		<xs:attributeGroup ref="DOW_PatternGroup"/>
	</xs:complexType>
	<xs:complexType name="DateTimeSpanType">
		<xs:choice>
			<xs:element name="DateWindowRange" type="TimeInstantType"/>
			<xs:sequence>
				<xs:element name="StartDateWindow" type="TimeWindowType" minOccurs="0"/>
				<xs:element name="EndDateWindow" type="TimeWindowType" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
		<xs:attributeGroup ref="DateTimeSpanGroup"/>
	</xs:complexType>
	<xs:complexType name="DirectBillType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Company name and location for sending invoice for remittances for travel services.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyNameType"/>
			<xs:element name="Address" type="AddressInfoType"/>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attribute name="DirectBill_Id" type="StringLength32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifier for the organization to be billed directly for travel services.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DistanceAttributesType">
		<xs:attributeGroup ref="DistanceAttributesGroup"/>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation>Provides information on a specific documents</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocHolderName" type="StringLength64" minOccurs="0"/>
			<xs:element name="DocLimitations" type="StringLength64" minOccurs="0" maxOccurs="9"/>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attribute name="DocIssueAuthority" type="StringLength64" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the group or association that granted the document</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocIssueLocation" type="StringLength64" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the location where the document was issued.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocId" type="StringLength32" use="optional">
			<xs:annotation>
				<xs:documentation>Unique number assigned by authorities to document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the type of document e.g. Passport, Military Id, Drivers License, national Id, Vaccination Certificate</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="GenderGroup"/>
		<xs:attributeGroup ref="BirthDateGroup"/>
		<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup"/>
	</xs:complexType>
	<xs:complexType name="EmailType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Electronic email addresses, in IETF specified format.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength128">
				<xs:attributeGroup ref="PrivacyGroup"/>
				<xs:attributeGroup ref="DefaultIndGroup"/>
				<xs:attribute name="EmailType" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines the purpose of the Email address, such as personal, business, listserve, etc.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EmployeeInfoType">
		<xs:annotation>
			<xs:documentation>Employment identification; using an employee Id number, title, level within the company, and an indication of their status, i.e.: active, retired, on leave, or terminated from employment.  Additional information about an employee can be entered into the element, including the name of the employee, if it differs from the person name identified as a customer or contact.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength64">
				<xs:attribute name="EmployeeId" type="StringLength16">
					<xs:annotation>
						<xs:documentation>Identifier assigned to the employee.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="EmployeeLevel" type="StringLength16">
					<xs:annotation>
						<xs:documentation>Level in employer organization (e.g. seniority) that coveys privileges.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="EmployeeTitle" type="StringLength16">
					<xs:annotation>
						<xs:documentation>Title of employee in the employer company that conveys rank or privileges.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="EmployeeStatus" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation>Status of employment.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EquipmentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Three letter equipment code and description.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="AirEquipType" type="StringLength3to3" use="required"/>
				<xs:attribute name="ChangeofGauge" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation> Indicates there is an equipment change.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation>Standard way to indicate that an error occurred during the processing of an OTA message</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attributeGroup ref="ErrorWarningType"/>
				<xs:attributeGroup ref="ErrorWarningAttributes"/>
				<xs:attribute name="NodeList" type="xs:string">
					<xs:annotation>
						<xs:documentation>An XPath expression that selects all the nodes whose data caused this error.  Further, this expression should have an 	additional constraint which contains the data of the node.  This will provide the offending data back to systems that cannot maintain the original message. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ErrorsType">
		<xs:sequence>
			<xs:element name="Error" type="ErrorType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeeType">
		<xs:sequence>
			<xs:element name="Taxes" type="TaxesType" minOccurs="0"/>
			<xs:element name="Description" type="ParagraphType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Text description of the fees  in a given language.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="TaxInclusive" type="xs:boolean">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates whether taxes are included when figuring the fees.	</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="FeeTaxGroup"/>
	</xs:complexType>
	<xs:complexType name="FeesType">
		<xs:sequence>
			<xs:element name="Fee" type="FeeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fee Amount that is applied to the rate. Fees are used for non tax amounts like service charges.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlightSegmentBaseType">
		<xs:annotation>
			<xs:documentation>Construct for holding a flight segment availability object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DepartureAirport" type="LocationType">
				<xs:annotation>
					<xs:documentation>Departure point of flight segment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalAirport" type="LocationType">
				<xs:annotation>
					<xs:documentation>Arrival point of flight segment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingAirline" type="OperatingAirlineType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> The operating airline of the flight if it is a codeshare  flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Equipment" type="EquipmentType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation> The type of equipment  used for the  flight..</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DepartureDateTime" type="xs:dateTime" use="required"/>
		<xs:attribute name="ArrivalDateTime" type="xs:dateTime" use="optional"/>
		<xs:attribute name="StopQuantity" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation> The number of stops the flight makes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ReferencePlaceHolderGroup"/>
		<xs:attribute name="InfoSource" type="StringLength32" use="optional"/>
	</xs:complexType>
	<xs:complexType name="FormattedTextSubSectionType">
		<xs:sequence>
			<xs:element name="Paragraph" type="ParagraphType" maxOccurs="99"/>
		</xs:sequence>
		<xs:attribute name="SubTitle"/>
		<xs:attribute name="SubCode"/>
		<xs:attribute name="SubSectionNumber"/>
	</xs:complexType>
	<xs:complexType name="FormattedTextTextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Formatted" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>Textual information, which may be formatted as a line of information, or unformatted, as a paragraph of text.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="LanguageGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FormattedTextType">
		<xs:sequence>
			<xs:element name="SubSection" type="FormattedTextSubSectionType" maxOccurs="99"/>
		</xs:sequence>
		<xs:attribute name="Title"/>
		<xs:attribute name="Language" type="xs:language"/>
	</xs:complexType>
	<xs:complexType name="FreeTextType">
		<xs:annotation>
			<xs:documentation>Provides some textual information to be used when storing a profile or when sending a request. This may be used to express special needs or special requirements.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="LanguageGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GenderType">
		<xs:attributeGroup ref="GenderGroup"/>
	</xs:complexType>
	<xs:complexType name="IssuerNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of bank or organization issuing the card (e.g., alumni association, bank, fraternal organization, etc.).
				</xs:documentation>
		</xs:annotation>
		<xs:attribute name="BankId" type="StringLength64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code of bank issuing the card.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ItemSearchCriterionType">
		<xs:sequence>
			<xs:element name="Position" type="PositionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Position element contains three attributes, Latitude, Longitude, and Altitude, used to indicate the geographic location(s) requested by the search, expressed in notation specified by ISO standard 6709.  It is likely that only the first two attributes, Latitude and Longitude, would be needed to define a geographic area.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Uses any part of address information, such as street name, postal code, or country code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telephone" type="TelephoneType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Telephone number(s) used in the search.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefPoint" type="StringLength64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Reference Point element allows for a search by proximity to a designated reference point by name. The data type of the Reference Point element is #PCDATA, as the element can be populated by a string that is the name of the reference point used in the search.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeRef" type="LocationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the location of points of interest.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HotelRef" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the detail of hotel reference information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="HotelReferenceGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Radius" type="DistanceAttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Radius element contains two attributes, Distance and DistanceMeasure, that indicate the distance from the center of the radius (the 	center of the radius is specified by the latitude and longitude of the Position), combined with the unit of measure used to express the Distance. .</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ExactMatch" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">values of "true" or "false", indicating whether the string of the search value must be an exact match.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ImportanceType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">an enumerated list, indicating the level of importance of the search criterion. Acceptable values are "Mandatory", "High", "Medium" or "Low".</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="StringLength16">
					<xs:enumeration value="Mandatory"/>
					<xs:enumeration value="High"/>
					<xs:enumeration value="Medium"/>
					<xs:enumeration value="Low"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code and optional string to describe a location point.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="LocationCode" type="StringLength8" use="required"/>
				<xs:attribute name="CodeContext" type="StringLength32" default="IATA">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as IATA, ARC, or internal code, etc.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MonetaryRuleType">
		<xs:annotation>
			<xs:documentation>This defines the information pertaining to rules and amounts associated with these rules.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to255">
				<xs:attribute name="RuleType" type="OTA_CodeType" use="required"/>
				<xs:attribute name="Amount" type="Money" use="optional"/>
				<xs:attribute name="CurrencyCode" type="AlphaLength3to3" use="optional"/>
				<xs:attribute name="Percent" type="Percentage" use="optional"/>
				<xs:attribute name="DateTime" type="xs:dateTime" use="optional"/>
				<xs:attribute name="PaymentType" type="OTA_CodeType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NameOptionalCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A complex type to be used when the associated item has a required name and an optional code. If the length of the name could exceed 64 characters the complexType LongNameoptionalCodeType should be used..</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="NameOptionalCodeGroup"/>
	</xs:complexType>
	<xs:complexType name="OperatingAirlineType">
		<xs:annotation>
			<xs:documentation>This is an extension of CompanyNameType to include a FlightNumber.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="CompanyNameType">
				<xs:attribute name="FlightNumber" type="FlightNumberType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OperationScheduleType">
		<xs:sequence>
			<xs:element name="OperationTimes" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The OperationTime class indicates the times and availability of a facility.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OperationTime" maxOccurs="999">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="DOW_PatternType">
										<xs:attributeGroup ref="DateTimeSpanGroup"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="DateTimeSpanGroup"/>
	</xs:complexType>
	<xs:complexType name="OperationSchedulesType">
		<xs:sequence>
			<xs:element name="OperationSchedule" type="OperationScheduleType" maxOccurs="999">
				<xs:annotation>
					<xs:documentation xml:lang="en">The OperationSchedule class defines the dates and hours of operation. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginDestinationInformationType">
		<xs:annotation>
			<xs:documentation>Origin and Destination location, and time information for the request. Also includes the ability to specify a connection location for the search.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TravelDateTimeType">
				<xs:sequence>
					<xs:element name="OriginLocation" type="LocationType">
						<xs:annotation>
							<xs:documentation>Travel Origin Location - for example, air uses the IATA 3 letter code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DestinationLocation" type="LocationType">
						<xs:annotation>
							<xs:documentation>Travel Destination Location - for example, air uses the IATA 3 letter code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConnectionLocations" type="ConnectionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Travel Connection Location - for example, air uses the IATA 3 letter code.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="POS_Type">
		<xs:annotation>
			<xs:documentation>POS defines the identity of the party that is connecting to the system and is making a
request</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Source" type="SourceType" maxOccurs="5"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParagraphType">
		<xs:annotation>
			<xs:documentation>An indication of a new paragraph for a sub-section of a formatted text message.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="99">
			<xs:element name="Text" type="FormattedTextTextType"/>
			<xs:element name="Image" type="xs:string"/>
			<xs:element name="URL" type="xs:anyURI"/>
		</xs:choice>
		<xs:attribute name="ParagraphNumber" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="DateTimeStampGroup"/>
		<xs:attributeGroup ref="LanguageGroup"/>
	</xs:complexType>
	<xs:complexType name="PaymentCardType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identification about a specific credit card</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardHolderName" type="StringLength64" minOccurs="0"/>
			<xs:element name="CardIssuerName" type="IssuerNameType" minOccurs="0"/>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attribute name="CardType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the type of magnetic striped card.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CardCode" type="PaymentCardCodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code indicating the type of credit card</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CardNumber" type="NumericStringLength16" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Credit card number embossed on the card.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SeriesCode" type="NumericStringLength8">
			<xs:annotation>
				<xs:documentation xml:lang="en">Verification digits printed on the card following the embossed number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="PaymentCardDateGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Date the card becomes valid for use (optional) and the date the card expires (required) in ISO 8601 prescribed format.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="PaymentCardInfoType">
		<xs:annotation>
			<xs:documentation>Information about a payment card that identifies its use for a specific purpose.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCardType">
				<xs:attributeGroup ref="DefaultIndGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PaymentFormType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Ways of providing funds for travel by the individual.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="PaymentCard" type="PaymentCardType"/>
			<xs:element name="BankAcct" type="BankAcctType"/>
			<xs:element name="DirectBill" type="DirectBillType"/>
			<xs:element name="Voucher" type="VoucherType"/>
		</xs:choice>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attribute name="CostCenterId" type="StringLength32">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to identify the billing department for allocating cost of travel to company account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ReferencePlaceHolderGroup"/>
	</xs:complexType>
	<xs:complexType name="PersonNameType">
		<xs:annotation>
			<xs:documentation>This is an XML Schema representing the OTA Person Name object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamePrefix" type="StringLength16" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Salutation of honorific. (e.g., Mr. Mrs., Ms., Miss, Dr., etc.) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GivenName" type="StringLength64" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Given name, first name or names</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="StringLength64" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>The middle name of the person name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurnamePrefix" type="StringLength16" minOccurs="0">
				<xs:annotation>
					<xs:documentation>e.g "van der", "von", "de" etc. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surname" type="StringLength64">
				<xs:annotation>
					<xs:documentation>Family name, last name. Required for identification of the individual in the profile. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameSuffix" type="StringLength16" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Hold various name suffixes and letters e.g., Jr., Sr., III, Ret., Esq., etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTitle" type="StringLength16" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Degree or honors (e.g., Ph.D., M.D., etc.)   </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attribute name="NameType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Type of name of the individual, such as former, nickname, alternate or alias name. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PositionType">
		<xs:attributeGroup ref="PositionGroup"/>
	</xs:complexType>
	<xs:complexType name="PreferLevelGroupType">
		<xs:attributeGroup ref="PreferLevelGroup"/>
	</xs:complexType>
	<xs:complexType name="RPHPrefType">
		<xs:annotation>
			<xs:documentation>Indicates a preference for an item that is referred to using a Reference Place Holder (RPH).   Often an object is stored in a collection of similar objects, and a preference for use of one these objects is to be made known.  This complex type can be used to specify the preference level, and to provide the indicator to the object in the collection.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="PreferLevelGroup"/>
		<xs:attributeGroup ref="ReferencePlaceHolderGroup"/>
	</xs:complexType>
	<xs:complexType name="RateQualifierCoreType">
		<xs:annotation>
			<xs:documentation>The RateQualifierCoreType complex type defines the rate information that is common to all transactions.  Such information may include rate codes, rate type, promotional codes, etc.  This information may be used to determine the rate that is made available.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="TravelPurpose" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Used to indicate the purpose, whether for business, personal or other</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RateCategory" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation>The RateCategory attribute defines a set of valid values for the category of a rate.  Typically rates are offered as either Leisure rates or Business (Corporate) rates, with a business rate usually including additional costs such as the cost of insurance, etc.  This set of values defines the rate categories. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CorpDiscountNmbr" type="AlphaNumericStringLength8" use="optional"/>
		<xs:attributeGroup ref="PromotionCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Promotion code is the identifier used by the host to link directly with a specific named advertising campaign. By including the required code, the client is able to gain access to special offers which may have been created for a specifically targeted group via a CRM system or for a wider advertising campaign using Television or press adverts.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="RateQualifier" type="StringLength32" use="optional"/>
		<xs:attribute name="RatePeriod" type="RatePeriodSimpleType" use="optional">
			<xs:annotation>
				<xs:documentation>The RatePeriod attribute defines the type of rate that may be applied.  For example, typically car rental rates differ based upon the duration of the rental, and the actual rate is then expressed in terms of the period of the rental.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RateQualifierType">
		<xs:annotation>
			<xs:documentation>The RateQualifierType complex type describes fully rate information associated with a specific rate quotation, including the description of any promotions that may apply.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RateQualifierCoreType">
				<xs:sequence>
					<xs:element name="PromoDesc" type="StringLength32" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencePlaceHolderType">
		<xs:attributeGroup ref="ReferencePlaceHolderGroup"/>
	</xs:complexType>
	<xs:complexType name="RelatedTravelerType">
		<xs:annotation>
			<xs:documentation>Other traveler profiles associated with an specific individual.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UniqueId" type="UniqueIdType" minOccurs="0"/>
			<xs:element name="PersonName" type="PersonNameType" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attribute name="Relation" type="StringLength32">
			<xs:annotation>
				<xs:documentation>Indicates the type of relationship with the person in the profile, such as Spouse, Child, Family, Business Associate, Interest Group, Medical, Security, Other, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SourceType">
		<xs:sequence>
			<xs:element name="UniqueId" type="UniqueIdType"/>
			<xs:element name="Position" type="PositionType" minOccurs="0"/>
			<xs:element name="BookingChannel" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="BookingChannelType">
							<xs:sequence>
								<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identifies the company that is associated with the booking channel.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AgentSine" type="StringLength16" use="optional">
			<xs:annotation>
				<xs:documentation>An ATA/IATA ID number or pseudo IATA number to identify the agent sending
the request.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PseudoCityCode" type="StringLength8" use="optional">
			<xs:annotation>
				<xs:documentation>A 3 character ATA/IATA airport/city code of the system that delivers the
message.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCountry" type="ISO3166" use="optional">
			<xs:annotation>
				<xs:documentation>ISO country code of the originator of the request.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCurrency" type="AlphaLength3to3" use="optional">
			<xs:annotation>
				<xs:documentation>ISO currency code to identify the currency of the country of the originator
of the request.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AgentDutyCode" type="StringLength16" use="optional">
			<xs:annotation>
				<xs:documentation>A code to identify the agent, i.e., an agent's initials, logon code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirlineVendorID" type="UpperCaseAlphaNumericLength2to3" use="optional">
			<xs:annotation>
				<xs:documentation>A 2-3 character airline/CRS code of the system delivering the request.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirportCode" type="UpperCaseAlphaNumericLength3to5" use="optional">
			<xs:annotation>
				<xs:documentation>A 3 character ATA/IATA airport/city code of the system that originates the
message.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FirstDepartPoint" type="StringLength3to3" use="optional">
			<xs:annotation>
				<xs:documentation>An ATA/IATA airport/city code to identify the first point of departure on a
journey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ERSP_UserId" type="StringLength16" use="optional">
			<xs:annotation>
				<xs:documentation>The identification number assigned by an electronic service provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StateProvType">
		<xs:annotation>
			<xs:documentation xml:lang="en">State, province, or region name or code needed to identify location.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="StateCode">
					<xs:annotation>
						<xs:documentation xml:lang="en">The postal service standard code or abbreviation for the state, province, or region.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="StringLength8">
							<xs:minLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="StreetNmbrType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Street name; number on street.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength64">
				<xs:attribute name="PO_Box" type="StringLength16">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines a Post Office Box number.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SuccessType">
		<xs:annotation>
			<xs:documentation>Standard way to indicate successful processing of an OTA message</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="TPA_Extensions_Type">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation xml:lang="en">Extensions
allowed to OTA specification per bilateral agreement between trading
partners.</xs:documentation>
			</xs:annotation>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of taxes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Tax" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Applicable tax element.  This element allows for both percentages and flat amounts. If one field is used, the other should be zero since logically, taxes should be calculated in only one of the two ways.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TaxDescription" type="ParagraphType" minOccurs="0" maxOccurs="5">
							<xs:annotation>
								<xs:documentation xml:lang="en">Text description of the taxes in a given language.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="FeeTaxGroup"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="CurrencyAmountGroup"/>
	</xs:complexType>
	<xs:complexType name="TelephoneInfoType">
		<xs:annotation>
			<xs:documentation>Information about a telephone number, including the actual number and its usage</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TelephoneType">
				<xs:attributeGroup ref="DefaultIndGroup"/>
				<xs:attribute name="PhoneUseType" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation>Describes the type of telephone number, in the context of its general use, such as Home, Business, Emergency Contact, Travel Arranger, Day, Evening, etc.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TelephoneType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Construct for holding a telephone number.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attributeGroup ref="TelephoneAttributesGroup"/>
		<xs:attributeGroup ref="FormattedInd"/>
	</xs:complexType>
	<xs:complexType name="TimeDurationType">
		<xs:simpleContent>
			<xs:extension base="xs:duration">
				<xs:attribute name="Minimum" type="xs:duration" use="optional"/>
				<xs:attribute name="Maximum" type="xs:duration" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimeInstantType">
		<xs:simpleContent>
			<xs:extension base="xs:dateTime">
				<xs:attribute name="WindowBefore" type="xs:duration" use="optional"/>
				<xs:attribute name="WindowAfter" type="xs:duration" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimeWindowType">
		<xs:annotation>
			<xs:documentation xml:lang="en"> Total time span covered by this availability request (from the earliest arrival to the latest departure)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EarliestDate" type="DateOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The earliest ending date/time for the availability requested, expressed in dateTime format as prescribed by ISO 8601.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LatestDate" type="DateOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The latest ending date/time for the availability requested, expressed in dateTime format as prescribed by ISO 8601.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DOW" type="DayOfWeekType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The Day of Week of the starting date for the availability requested. Enumerated values of StartDOW are the seven days of the week: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, or Sunday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TotalType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The total amount charged for the service including additional amounts and fees.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Taxes" type="TaxesType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="AmountBeforeTax" type="Money" use="optional"/>
		<xs:attribute name="AmountAfterTax" type="Money" use="optional"/>
		<xs:attributeGroup ref="CurrencyCodeGroup"/>
	</xs:complexType>
	<xs:complexType name="TravelDateTimeType">
		<xs:annotation>
			<xs:documentation>Date and time of trip, that allows specifying a time window before and after the given date.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="DepartureDateTime" type="TimeInstantType"/>
			<xs:element name="ArrivalDateTime" type="TimeInstantType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TravelerCountType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The TravelerCountType complex type defines information on the number of travelers of a specific type.  For example, a driver type can be either one of a defined set, Adult, YoungDriver, YoungerDriver, or it may be a code that is acceptable to both Trading Partners.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Age" type="Numeric0to999" use="optional"/>
		<xs:attribute name="Code" use="optional">
			<xs:simpleType>
				<xs:union memberTypes="StringLength8 OTA_CodeType"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source authority for the code. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="URI" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the location of the code table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="QuantityGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the number of items.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="TravelerRPHs">
		<xs:annotation>
			<xs:documentation>A container to relate individual travelers to an inventory or chargeable item.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TravelerRPH" maxOccurs="99">
				<xs:complexType>
					<xs:attribute name="RPH" type="RPH_Type" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="URL_Type">
		<xs:annotation>
			<xs:documentation>Web site address, in IETF specified format.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attributeGroup ref="PrivacyGroup"/>
				<xs:attribute name="Type" type="StringLength16">
					<xs:annotation>
						<xs:documentation>Defines the purpose of the URL address, such as personal, business, public, etc.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="DefaultIndGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UniqueIdType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Unique identifier assigned to an individual customer profile.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the company that is associated with the UniqueID.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="UniqueIdGroup"/>
	</xs:complexType>
	<xs:complexType name="VendorMessageType">
		<xs:annotation>
			<xs:documentation>provides formatted textual information that a vendor wishes to make known.  The type of information is indicated</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="FormattedTextType">
				<xs:attribute name="InfoType" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation>To define the type of information such as Description, Policy, Marketing, etc.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VendorMessagesType">
		<xs:sequence>
			<xs:element name="VendorMessage" type="VendorMessageType" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>A specific message associated with this vendor</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VoucherType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A form of payment using a voucher or coupon.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date when a voucher becomes valid for use, if applicable, and the the date when a voucher or series of coupons expires and is no longer valid.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="SeriesCode" type="StringLength32">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identification of a series of coupons or vouchers identified by serial number(s).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WarningType">
		<xs:annotation>
			<xs:documentation>Standard way to indicate successful processing of an OTA message, but one in which warnings are generated</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attributeGroup ref="ErrorWarningType"/>
				<xs:attributeGroup ref="ErrorWarningAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="WarningsType">
		<xs:sequence>
			<xs:element name="Warning" type="WarningType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TPA_Extensions" type="TPA_Extensions_Type">
		<xs:annotation>
			<xs:documentation>A place holder in the schema to allow for additional elements and attributes to be included if required, per Trading Partner Agreement (TPA).</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
