OTA1.0/OTA2004B/_OTA2004B_XML/OTA_HotelRFP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" version="1.002" id="OTA2003A2004B" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="OTA_AirCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_AirPreferences.xsd"/>
	<xs:include schemaLocation="OTA_CommonPrefs.xsd"/>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_HotelCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_HotelContentDescription.xsd"/>
	<xs:include schemaLocation="OTA_HotelPreferences.xsd"/>
	<xs:include schemaLocation="OTA_Profile.xsd"/>
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="OTA_VehicleCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AccountSpecificInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This describes data that is specific to a single account.   </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccountSpecificRateInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">It describes specific criteria upon which the client rate is based.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="RoomNightTargetIndicator" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">If true indicates that the client rate is based on a minimum room night target for next year's program.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RoomNightTargetQuantity" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines minimum room nights.
</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RoomNightProductionQuantity" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Allows you to pass the number of room nights previously produced.  </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="DateTimeSpanGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">These are the dates to which this proposal applies.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
					<xs:attribute name="SubsidiaryEmpRateIndicator" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This means the account specific rate is available to that organization's subsidiary employees.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="PersonalUseRateIndicator" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This means the account specific rate is available to that organization's employees for personal use.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ContractorsRateIndicator" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This means the account specific rate is available to that organization's contractors or consultants.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RetireeRateIndicator" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This means the account specific rate is available to that organization's retirees.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="RoomTypes" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A Collection of room types.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RoomType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Defines each room type included in Client negotiated rate. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="RoomTypeType">
										<xs:sequence>
											<xs:element name="RoomRateInfos" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">A collection of room rate information.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="RoomRateInfo" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation xml:lang="en">Descibes room rate information.  This may include information on the negotiated rate as well as inforrmation on other rates offered by the hotel.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Rates" type="RateType">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">
																	Individual rate amount. This rate is valid for a range of number of occupants and an occupant type.
																	</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="RoomRateDescription" type="FormattedTextTextType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Provides textual description of the room rate.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Commission" type="CommissionType" minOccurs="0" maxOccurs="unbounded">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">
Commission associated with the RatePlan.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BlackoutDates" type="BlackoutDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of blackout dates.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactInfos" type="ContactInfosType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines the contacts related to the RFP.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of supplemental information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comment" type="ParagraphType" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Provides additional account specific information (e.g. notes about all rates or questions specific to this account).</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ContractAgreementIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates the information contained in this message is correct and binding.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EventChargeType">
		<xs:sequence>
			<xs:element name="EventCharge" maxOccurs="999">
				<xs:annotation>
					<xs:documentation xml:lang="en">A specific charge associated to an event.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Taxes" type="TaxesType">
							<xs:annotation>
								<xs:documentation xml:lang="en">Taxes associated to this event charge.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="EventCharge" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This describes charges related to an event (e.g. set-up; room rental; break-out; breakfast; lunch; dinner; miscellaneous). Refer to OTA Code List Event Charge (EVT).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="PrimaryChargeType" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is used to indicate the basis of the charge (e.g. per person). Refer to OTA Code List Charge Type (CHG).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SecondaryChargeType" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is used in conjunction with the PrimaryChargeType to indicate the basis of the charge (e.g. per person, per day, where per person is the PrimaryChargeType and per day is the SecondaryChargeType). Refer to OTA Code List Charge Type (CHG).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="AppliedPercentageEventCharge" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is used when MinChargeAmount and MaxChargeAmount are percentages and it refers to what the percentage is applied. For example, the EventCharge may be gratuity, the AppliedPercentageEventCharge is Food and Beverage, and the MinChargeAmount is 15%, indicating the 15% gratutity applies to all Food and Beverage charges. Refer to OTA Code List Event Charge (EVT).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MinChargeAmount" type="MoneyOrPercentageType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The minimum possible amount or percent as related to the EventCharge.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MaxChargeAmount" type="MoneyOrPercentageType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The maximum possible charge for the event in the requested date range.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Comment" type="ParagraphType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Comments related to this specific event charge.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GDS_InfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This defines codes used by individual GDS's, which can be used to upload rate information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GDS_Codes" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The element acts as a container for GDS_Code. It is used to send item for each GDS.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GDS_Code" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Provides detailed information regarding the specified GDS.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="GDS_CodeDetails" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Collection of GDS_CodeDetails.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="GDS_CodeDetail" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="en">This holds detailed information pertaining to the agencies authorized to book this rate.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:attribute name="PseudoCityCode" type="StringLength1to16" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">This is used to pass the pseudo city code (i.e., the code that identifies a specific agency location) of the agency that has authority to book the negotiated rate(s)).</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="AgencyName" type="StringLength1to64" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">This is the agency with authority to book the negotiated rate(s).</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="ChainCode" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">This is the 2 character GDS Chain Code used to identify a specific chain.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="2"/>
											<xs:maxLength value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="GDS_PropertyCode" type="StringLength1to16" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">This is the GDS Property Code used to identify a specific hotel.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="GDS_Name" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="en">Type of GDS for hotel such as Apollo, Amadeus, Sabre, Worldspan etc. Refer to OTA Code List Global Distribution System type (GDS).</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="Amadeus"/>
											<xs:enumeration value="ApolloGalileo"/>
											<xs:enumeration value="Sabre">
												<xs:annotation>
													<xs:documentation xml:lang="en">Apollo</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="Worldspan">
												<xs:annotation>
													<xs:documentation xml:lang="en">Sabre</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="LoadGDSIndicator" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">This attribute is used in conjunction with the GDS_Name. When true, this indicates rates will be loaded to the GDS specified by the GDS_Name. </xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="LoadGDSIndicator" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, this indicates rates will be loaded to specified GDSs. This attribute is also under GDS_Code to associate the rate load for an individual GDS. (This may also be used to idicate the willingness to upload rates to GDSs even if not specified in the request message.)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="MasterChainCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the 2 character master chain code that identifes a specific chain that is recognized by all GDS's.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RFP_ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This is used by OTA_HotelRFP_RS and the OTA_HotelRFP_NotifRQ. This accommodates detailed RFP information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RFP_ResponseSegments">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of ResponseSegments that allows multiple responses for different blocks of rooms and/or meeting space to be sent in one message. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RFP_ResponseSegment" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">This is the response data for a block of rooms and/or meeting space.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Profiles" type="ProfilesType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">This can be used to echo back the profile information of the submitter of the request.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Sites" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">A collection of sites that the response is being submitted for (e.g. a hotel, national sales office, convention center). </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Site" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="en">Specifies an individual destination of the response.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ResponseType" type="RFP_ResponseDetailType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="en">This is used to send information about the data that will be returned, specifically when and in what delivery mode.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ContactInfos" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="en">A collection of contacts (e.g. a catering manager, national sales office, management company, franchisee)</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ContactInfo" type="ContactPersonType">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">A contact for this site for this specific RFP.</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Dates" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="en">A collection of inquiry dates. </xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Date" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The dates correspond to the appropriate primary or secondary dates identified in the request.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="RoomBlock" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">This is information pertaining to room requirements for this request.</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="StayDates" minOccurs="0">
																									<xs:annotation>
																										<xs:documentation xml:lang="en">A collection of multiple StayDates.</xs:documentation>
																									</xs:annotation>
																									<xs:complexType>
																										<xs:sequence>
																											<xs:element name="StayDate" maxOccurs="unbounded">
																												<xs:annotation>
																													<xs:documentation xml:lang="en">Contains the date or date span for the room type availability. </xs:documentation>
																												</xs:annotation>
																												<xs:complexType>
																													<xs:sequence>
																														<xs:element name="StayDateRooms" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation xml:lang="en">A collection of multiple StayDateRooms.</xs:documentation>
																															</xs:annotation>
																															<xs:complexType>
																																<xs:sequence>
																																	<xs:element name="StayDateRoom" maxOccurs="unbounded">
																																		<xs:annotation>
																																			<xs:documentation xml:lang="en">A container for the room availability data.</xs:documentation>
																																		</xs:annotation>
																																		<xs:complexType>
																																			<xs:sequence>
																																				<xs:element name="Rates" minOccurs="0">
																																					<xs:annotation>
																																						<xs:documentation xml:lang="en">Collection of rates for a particular room type.</xs:documentation>
																																					</xs:annotation>
																																					<xs:complexType>
																																						<xs:sequence>
																																							<xs:element name="Rate" maxOccurs="99">
																																								<xs:annotation>
																																									<xs:documentation xml:lang="en">Rate for a particular room type.</xs:documentation>
																																								</xs:annotation>
																																								<xs:complexType>
																																									<xs:sequence>
																																										<xs:element name="Taxes" type="TaxesType" minOccurs="0">
																																											<xs:annotation>
																																												<xs:documentation xml:lang="en">Taxes related to this room type.</xs:documentation>
																																											</xs:annotation>
																																										</xs:element>
																																										<xs:element name="Fees" type="FeesType" minOccurs="0">
																																											<xs:annotation>
																																												<xs:documentation xml:lang="en">Fees associated with this room type.</xs:documentation>
																																											</xs:annotation>
																																										</xs:element>
																																									</xs:sequence>
																																									<xs:attributeGroup ref="CurrencyAmountGroup"/>
																																									<xs:attribute name="OccupancyRate" use="optional">
																																										<xs:annotation>
																																											<xs:documentation xml:lang="en">The different rates charged for the occupancy for the room which could be flat (a rate not variable by number of people), single, double, triple, or quad.</xs:documentation>
																																										</xs:annotation>
																																										<xs:simpleType>
																																											<xs:restriction base="xs:string">
																																												<xs:enumeration value="Flat"/>
																																												<xs:enumeration value="Single"/>
																																												<xs:enumeration value="Double"/>
																																												<xs:enumeration value="Triple"/>
																																												<xs:enumeration value="Quad"/>
																																											</xs:restriction>
																																										</xs:simpleType>
																																									</xs:attribute>
																																								</xs:complexType>
																																							</xs:element>
																																						</xs:sequence>
																																					</xs:complexType>
																																				</xs:element>
																																				<xs:element name="Comment" type="ParagraphType" minOccurs="0" maxOccurs="5">
																																					<xs:annotation>
																																						<xs:documentation xml:lang="en">Comments for this specific room type.</xs:documentation>
																																					</xs:annotation>
																																				</xs:element>
																																			</xs:sequence>
																																			<xs:attribute name="RoomType" type="StringLength1to64" use="optional">
																																				<xs:annotation>
																																					<xs:documentation xml:lang="en">This identifies the room type (e.g. king, double, double double). This is NOT an OTA codelist due to the infinite number of possible room types.</xs:documentation>
																																				</xs:annotation>
																																			</xs:attribute>
																																			<xs:attribute name="NumberOfUnits" type="Numeric1to999" use="optional">
																																				<xs:annotation>
																																					<xs:documentation xml:lang="en">This is the number of rooms proposed for a particular day or date range for the room type indicated in the RoomTypeRequirement attribute.</xs:documentation>
																																				</xs:annotation>
																																			</xs:attribute>
																																		</xs:complexType>
																																	</xs:element>
																																</xs:sequence>
																															</xs:complexType>
																														</xs:element>
																														<xs:element name="Comment" type="ParagraphType" minOccurs="0" maxOccurs="5">
																															<xs:annotation>
																																<xs:documentation xml:lang="en">Comments for the date or date range as a whole.</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																													</xs:sequence>
																													<xs:attributeGroup ref="DateTimeSpanGroup"/>
																												</xs:complexType>
																											</xs:element>
																										</xs:sequence>
																									</xs:complexType>
																								</xs:element>
																								<xs:element name="Fees" type="FeesType" minOccurs="0">
																									<xs:annotation>
																										<xs:documentation xml:lang="en">These fees apply to the dates or date range specified in the Date element. This provides the ability to apply fees to all room types being returned. </xs:documentation>
																									</xs:annotation>
																								</xs:element>
																								<xs:element name="Comments" type="ParagraphType" minOccurs="0">
																									<xs:annotation>
																										<xs:documentation xml:lang="en">An open field to comment on the room block.</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="EventBlock" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">This is information pertaining to the event requirements for this request.</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="EventDates" minOccurs="0">
																									<xs:annotation>
																										<xs:documentation xml:lang="en">A collection of multiple EventDates.</xs:documentation>
																									</xs:annotation>
																									<xs:complexType>
																										<xs:sequence>
																											<xs:element name="EventDate" maxOccurs="unbounded">
																												<xs:complexType>
																													<xs:sequence>
																														<xs:element name="EventDateFunctions" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation xml:lang="en">A collection of multiple EventDateFunctions.</xs:documentation>
																															</xs:annotation>
																															<xs:complexType>
																																<xs:sequence>
																																	<xs:element name="EventDateFunction" maxOccurs="unbounded">
																																		<xs:annotation>
																																			<xs:documentation xml:lang="en">A container for the events requirements data.</xs:documentation>
																																		</xs:annotation>
																																		<xs:complexType>
																																			<xs:sequence minOccurs="0">
																																				<xs:element name="EventCharges" type="EventChargeType" minOccurs="0">
																																					<xs:annotation>
																																						<xs:documentation xml:lang="en">A collection of charges associated to an event.</xs:documentation>
																																					</xs:annotation>
																																				</xs:element>
																																				<xs:element name="Comment" type="ParagraphType" minOccurs="0" maxOccurs="5">
																																					<xs:annotation>
																																						<xs:documentation xml:lang="en">Comments associated to this  specific event.</xs:documentation>
																																					</xs:annotation>
																																				</xs:element>
																																			</xs:sequence>
																																			<xs:attribute name="EventName" type="StringLength1to64" use="optional">
																																				<xs:annotation>
																																					<xs:documentation xml:lang="en">The name of the event.</xs:documentation>
																																				</xs:annotation>
																																			</xs:attribute>
																																			<xs:attribute name="EventType" type="OTA_CodeType" use="optional">
																																				<xs:annotation>
																																					<xs:documentation xml:lang="en">Indicates the type of event being requested (e.g. breakfast meeting, reception).</xs:documentation>
																																				</xs:annotation>
																																			</xs:attribute>
																																			<xs:attribute name="StartTime" type="xs:time" use="optional">
																																				<xs:annotation>
																																					<xs:documentation xml:lang="en">The time the event is scheduled to begin.</xs:documentation>
																																				</xs:annotation>
																																			</xs:attribute>
																																			<xs:attribute name="EndTime" type="xs:time" use="optional">
																																				<xs:annotation>
																																					<xs:documentation xml:lang="en">The time the event is scheduled to finish.</xs:documentation>
																																				</xs:annotation>
																																			</xs:attribute>
																																			<xs:attributeGroup ref="UnitsOfMeasureGroup">
																																				<xs:annotation>
																																					<xs:documentation xml:lang="en">This identifies the space requirement.</xs:documentation>
																																				</xs:annotation>
																																			</xs:attributeGroup>
																																			<xs:attribute name="AttendeeQuantity" type="xs:nonNegativeInteger" use="optional">
																																				<xs:annotation>
																																					<xs:documentation xml:lang="en">The number of people attending this event.</xs:documentation>
																																				</xs:annotation>
																																			</xs:attribute>
																																			<xs:attribute name="RoomSetup" type="OTA_CodeType" use="optional">
																																				<xs:annotation>
																																					<xs:documentation xml:lang="en">Indicates the arrangement of the meeting space (e.g. conference or banquet style). Refer to OTA Code List Meeting Room Format Code (MRF).</xs:documentation>
																																				</xs:annotation>
																																			</xs:attribute>
																																			<xs:attribute name="TwentyFourHourHold" type="xs:boolean" use="optional">
																																				<xs:annotation>
																																					<xs:documentation xml:lang="en">Indicates the room must be accessable for 24 hours before the event (usually for set-up purposes).</xs:documentation>
																																				</xs:annotation>
																																			</xs:attribute>
																																		</xs:complexType>
																																	</xs:element>
																																</xs:sequence>
																																<xs:attribute name="ChargeType" type="OTA_CodeType" use="optional">
																																	<xs:annotation>
																																		<xs:documentation xml:lang="en">This denotes the way a charge is applied (e.g. per day, first time use, per hour). Refer to OTA Code List Charge Type (CHG).</xs:documentation>
																																	</xs:annotation>
																																</xs:attribute>
																															</xs:complexType>
																														</xs:element>
																														<xs:element name="EventCharges" type="EventChargeType" minOccurs="0">
																															<xs:annotation>
																																<xs:documentation xml:lang="en">A collection of charges associated to an event.</xs:documentation>
																															</xs:annotation>
																														</xs:element>
																													</xs:sequence>
																													<xs:attributeGroup ref="DateTimeSpanGroup"/>
																												</xs:complexType>
																											</xs:element>
																										</xs:sequence>
																									</xs:complexType>
																								</xs:element>
																								<xs:element name="Comment" type="ParagraphType" minOccurs="0" maxOccurs="5">
																									<xs:annotation>
																										<xs:documentation xml:lang="en">An open field to comment on the event block.</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																				<xs:attributeGroup ref="DateTimeSpanGroup"/>
																				<xs:attribute name="ProposedDateIndicator" use="optional">
																					<xs:annotation>
																						<xs:documentation xml:lang="en">This is an indicator that identifies if the dates match the primary or alternate dates or the suppliers other proposed dates.</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:enumeration value="Primary"/>
																							<xs:enumeration value="Alternate"/>
																							<xs:enumeration value="Other"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Comment" type="ParagraphType" minOccurs="0" maxOccurs="5">
																<xs:annotation>
																	<xs:documentation xml:lang="en">This holds information from a specific site on the requested data.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="SiteID" type="UniqueID_Type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="en">This is a UniqueID for this site for this request.</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attributeGroup ref="HotelReferenceGroup"/>
														<xs:attribute name="CrossSellIndicator" type="xs:boolean" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">When True, the associated site was not included as part of the original Request message, but is being included as part of the Response message as an alternate location.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Comment" type="ParagraphType" minOccurs="0" maxOccurs="5">
										<xs:annotation>
											<xs:documentation xml:lang="en">This holds information that pertains to all sites requested.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RFP_ID" type="UniqueID_Type" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">This is a UniqueID that is associated with  an individual RFP.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element ref="TPA_Extensions" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MessageID" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">This is a UniqueID that is associated with the messages that may include more than one RFP. The instance attribute is used to indicate subsequent transmissions of new or updated information (e.g. an initial message will be instance 1 and an update to this message will be reflected with instance 2).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="UniqueID_Type"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RFP_TransientDetailsType">
		<xs:annotation>
			<xs:documentation xml:lang="en"> This is used by OTA_HotelRFP_TransientNotifRQ schema. This accommodates detailed transient RFP information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RFP_TransientResponses" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of RFP Transient Responses</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RFP_TransientResponse" type="RFP_TransientResponseType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">This is the Response data.  The response element can repeat for each hotel that is providing a response to the RFP.  Each hotel is defined in the HotelRefGroup attributes of this element.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MessageID" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ID is used to identify the original request. The instance attribute is used to indicate subsequent transmissions of new or updated information (e.g. an initial message will be instance 1 and an update to this message will be reflected with instance 2).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="UniqueID_Type"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RFP_TransientResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides the detailed RFP data and/or the  the general information to let the requestor know when and the detailed information will be returned.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RFP_ResponseDetail" type="RFP_ResponseDetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides the method and time for when the detailed response should be expected as well as other information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HotelDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides the details associated with a hotel (e.g. the amenities and services provided and distance to local attractions.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="HotelDescriptiveContentType">
							<xs:sequence>
								<xs:element name="GDS_Info" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">This allows for information for GDS's to be specified.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="GDS_InfoType"/>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccountSpecificInformation" type="AccountSpecificInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines the information that is specific to the RFP for this account.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="HotelReferenceGroup"/>
	</xs:complexType>
</xs:schema>
