OTA1.0/OTA2001A/2001A_xsd/OTA_CreateProfileRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" elementFormDefault="qualified">
	<xsd:include schemaLocation="Profile.xsd"/>
	<xsd:element name="OTA_CreateProfileRQ">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="UniqueId"/>
				<xsd:element ref="Profile"/>
			</xsd:sequence>
			<xsd:attribute name="EchoToken" type="xsd:string"/>
			<xsd:attribute name="TimeStamp" type="xsd:string"/>
			<xsd:attribute name="Target" use="default" value="Production">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="Test"/>
						<xsd:enumeration value="Production"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Version" type="xsd:string"/>
			<xsd:attribute name="SequenceNmbr" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
