OTA1.0/OTA2004A/_OTA2004A_XMLFlattenedSchema/FS_OTA_VehLocSearchRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.001" id="OTA2004A">




	<!--  OTA_VehLocSearchRS.xsd  -->
<xs:annotation>
<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
</xs:annotation>	
<xs:element name="OTA_VehLocSearchRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">Vehicle Location Search response will allow car rental customers to view location(s) available based on their request information.  The response will include the OTA_VehLocSearchRQ information as well as physical address, telephone number, and additional information of the rental location(s) meeting their request.  For example, a facility was identified based on a certain search criterion, and the facility is 10 miles away. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType"/>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0"/>
					<xs:element name="VehMatchedLocs">
						<xs:annotation>
							<xs:documentation xml:lang="en">A collection of vehicle locations that match the search criteria.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="VehMatchedLoc" type="VehicleMatchedLocationType" maxOccurs="99">
									<xs:annotation>
										<xs:documentation xml:lang="en">A specific vehicle location that matches a search criteria.  This information includes the location along with the search criteria that was used to indicate how the location was selected, and the distance that the location is from the area specified by the search.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Vendor" type="CompanyNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Information on the vendor associated with the locations identified in the response.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="TPA_Extensions" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="VehicleLocSearchRSAdditionalInfoType">
		<xs:sequence>
			<xs:element ref="TPA_Extensions" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleLocSearchRSCoreType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The VehicleLocSearchRSCoreType complex type identifies the data that is common in a response providing a list of vehicle rental locations.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="VehicleMatchedLocationType">
		<xs:sequence>
			<xs:element name="LocationDetail" type="VehicleLocationDetailsType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Detailed information on a specific vehicle rental location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehLocSearchCriterion" type="ItemSearchCriterionType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">The search criterion may be echoed to indicate how the location was selected, and to provide a distance from that search location.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--  OTA_CommonTypes.xsd  -->
	<xs:element name="TPA_Extensions" type="TPA_Extensions_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">A place holder in the schema to allow for additional elements and attributes to be included if required, per Trading Partner Agreement (TPA).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AddressInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about an address that identifies a location for a specific purposes.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AddressType">
				<xs:attributeGroup ref="DefaultIndGroup"/>
				<xs:attribute name="UseType" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Describes the use of the address (e.g. mailing, delivery, billing, etc.). Refer to OTA Code List Address Use Type (AUT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>Provides address information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StreetNmbr" type="StreetNmbrType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">May contain the street number and optionally the street name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BldgRoom" type="StringLength0to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Building name, room, apartment, or suite number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressLine" type="StringLength1to64" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>When the address is unformatted (FormattedInd="false") these lines will contain free form address details. When the address is formatted and street number and street name must be sent independently, the street number will be sent using StreetNmbr, and the street name will be sent in the first AddressLine occurrence.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" type="StringLength1to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">City name (e.g. Dublin).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="StringLength1to16" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Post Office Code number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="County" type="StringLength1to32" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">County Name (e.g. Fairfax).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateProv" type="StateProvType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">State name (e.g. Texas).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="CountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country name (e.g. Ireland).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="FormattedInd"/>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attribute name="Type" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the type of address (e.g. home, business, other). Refer to OTA Code List Communication Location Type (CLT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attributeGroup ref="CompanyID_AttributesGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CountryNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The name or code of a country (e.g. as used in an address or to specify citizenship of a traveller).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="Code" type="ISO3166" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">ISO 3166 code for a country.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DOW_PatternType">
		<xs:annotation>
			<xs:documentation>Provides a pattern by day of week.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="DOW_PatternGroup"/>
	</xs:complexType>
	<xs:complexType name="DistanceAttributesType">
		<xs:annotation>
			<xs:documentation>Used to provide distance and direction information.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="DistanceAttributesGroup"/>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate that an error occurred during the processing of an OTA message</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Error element MUST contain the Type attribute that uses a recommended set of values to indicate the error type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup"/>
				<xs:attribute name="NodeList" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">An XPath expression that selects all the nodes whose data caused this error.  Further, this expression should have an 	additional contraint which contains the data of the node.  This will provide the offending data back to systems that cannot maintain the original message. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ErrorsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of errors that occurred during the processing of a message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Error" type="ErrorType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormattedTextSubSectionType">
		<xs:annotation>
			<xs:documentation>Used to provide subsection formatted text information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Paragraph" type="ParagraphType" maxOccurs="99"/>
		</xs:sequence>
		<xs:attribute name="SubTitle" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This attribute may be used to provide a title for a sub-section of the formatted free text.  A sub-section may have multiple related paragraphs of information.  For example, if used to provide driving directions there may be multiple paragraphs, and these paragraphs may be grouped into a sub-section called "Driving from the North".  A second subsection may be titled "Driving from the South", and may contain several paragraphs to describe the driving directions when driving from the south. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SubCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An optional code that may be assigned to this sub-section of formatted free text.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SubSectionNumber" type="Numeric1to999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This attribute may be used when there is a need to number all of the sub-sections of information that is to be presented.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FormattedTextTextType">
		<xs:annotation>
			<xs:documentation>Provides text and indicates whether it is formatted or not.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Formatted" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Textual information, which may be formatted as a line of information, or unformatted, as a paragraph of text.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="LanguageGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FormattedTextType">
		<xs:annotation>
			<xs:documentation>Collection of formatted text sub sections.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubSection" type="FormattedTextSubSectionType" maxOccurs="99"/>
		</xs:sequence>
		<xs:attribute name="Title" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This attribute may be used to provide a title for the formatted free text,
for example, Driving Directions.  Each of the sub sections that are defined
to be a part of the formatted text would provide detailed information about
the subject identified by the title.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Language" type="xs:language" use="optional"/>
	</xs:complexType>
	<xs:complexType name="FreeTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Textual information to provide descriptions and/or additional information.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="LanguageGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ItemSearchCriterionType">
		<xs:annotation>
			<xs:documentation>Identifies the criterion for a search.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="PositionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Position element contains three attributes, Latitude, Longitude, and Altitude, used to indicate the geographic location(s) requested by the search, expressed in notation specified by ISO standard 6709.  It is likely that only the first two attributes, Latitude and Longitude, would be needed to define a geographic area.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Uses any part of address information, such as street name, postal code, or country code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telephone" type="TelephoneType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Telephone number(s) used in the search.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefPoint" type="StringLength1to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Reference Point element allows for a search by proximity to a designated reference point by name. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeRef" type="LocationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates the location of points of interest.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HotelRef" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates the detail of hotel reference information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="HotelReferenceGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Radius" type="DistanceAttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Radius element contains two attributes, Distance and DistanceMeasure, that indicate the distance from the center of the radius, combined with the unit of measure used to express the Distance. The center of the radius is specified by which ever location element is also present in this item search criterion type (e.g. position, address, hotel reference, etc.).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ExactMatch" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Values of "true" or "false", indicating whether the string of the search value must be an exact match.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ImportanceType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An enumerated list, indicating the level of importance of the search criterion. Acceptable values are "Mandatory", "High", "Medium", or "Low."</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="StringLength1to16">
					<xs:enumeration value="Mandatory">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates the item is required.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="High">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates a high level of importance.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Medium">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates a medium level of importance.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Low">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates a low level of importance.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code and optional string to describe a location point.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="LocationCode" type="StringLength1to8" use="required"/>
				<xs:attribute name="CodeContext" type="StringLength1to32" default="IATA">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as IATA, ARC, or internal code, etc.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OperationScheduleType">
		<xs:sequence>
			<xs:element name="OperationTimes" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The OperationTime class indicates the times and availability of a facility.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OperationTime" maxOccurs="999">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="DOW_PatternType">
										<xs:attributeGroup ref="DateTimeSpanGroup"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="DateTimeSpanGroup"/>
	</xs:complexType>
	<xs:complexType name="OperationSchedulesType">
		<xs:sequence>
			<xs:element name="OperationSchedule" type="OperationScheduleType" maxOccurs="999">
				<xs:annotation>
					<xs:documentation xml:lang="en">The OperationSchedule class defines the dates and hours of operation. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParagraphType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An indication of a new paragraph for a sub-section of a formatted text message.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="99">
			<xs:element name="Text" type="FormattedTextTextType"/>
			<xs:element name="Image" type="xs:string"/>
			<xs:element name="URL" type="xs:anyURI"/>
			<xs:element name="ListItem">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FormattedTextTextType">
							<xs:attribute name="ListItem" type="xs:integer" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Name" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">In many cases the description repeats, this will allow you to define the information that is being sent, typically used when multiple occurrences of ParagraphType are being sent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ParagraphNumber" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="DateTimeStampGroup"/>
		<xs:attributeGroup ref="LanguageGroup"/>
	</xs:complexType>
	<xs:complexType name="PositionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to identify geospatial postion of the requesting entity.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="PositionGroup"/>
	</xs:complexType>
	<xs:complexType name="StateProvType">
		<xs:annotation>
			<xs:documentation xml:lang="en">State, province, or region name or code needed to identify location.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="StateCode" type="StateProvCodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="StreetNmbrType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Street name; number on street.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="PO_Box" type="StringLength1to16">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines a Post Office Box number.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SuccessType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message. Returning an empty element of this type indicates success.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="TPA_Extensions_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows extensions to an OTA Schema to accommodate bilateral agreements between trading partners.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation xml:lang="en">Extensions
allowed to OTA specification per bilateral agreement between trading
partners.</xs:documentation>
			</xs:annotation>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelephoneInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about a telephone number, including the actual number and its usage</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TelephoneType">
				<xs:attributeGroup ref="DefaultIndGroup"/>
				<xs:attribute name="PhoneUseType" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Describes the type of telephone number, in the context of its general use (e.g. Home, Business, Emergency Contact, Travel Arranger, Day, Evening). Refer to OTA Code List Phone Use Type (PUT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TelephoneType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Construct for holding a telephone number.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attributeGroup ref="TelephoneAttributesGroup"/>
		<xs:attributeGroup ref="FormattedInd"/>
	</xs:complexType>
	<xs:complexType name="WarningType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message, but one in which warnings are generated</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Warning element MUST contain the Type attribute that uses a recommended set of values to indicate the warning type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="WarningsType">
		<xs:sequence>
			<xs:element name="Warning" type="WarningType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
<xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AreaID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used in place of a property code to retrieve availability across multiple properties in a hotel reservation system defined area.  This attribute does not map to a code list, it maps to a hotel reservation system defined value.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AreaID" type="NumericStringLength1to8" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="CompanyID_AttributesGroup">
		<xs:annotation>
			<xs:documentation>Provides meaning to a company code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CompanyShortName" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide the company common name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
Refer to OTA Code List Travel Sector (TVS).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="DOW_PatternGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">If a day(s) of the week is set to true then the associated item is available on that day of the week  (e.g. if Mon="T" then a flight operates on Mondays or a certain rate is available on Mondays).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Mon" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Monday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Tue" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Tuesday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Weds" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Wednesday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Thur" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Thursday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Fri" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Friday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Sat" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Saturday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Sun" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Sunday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="DateTimeSpanGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">The attributes of the  OTA DateTimeSpan data type are based on the W3C base data types of timeInstant and timeDuration. The lexical representation for timeDuration is the [ISO 8601] extended format PnYn MnDTnH nMnS, where nY represents the number of years, nM the number of months, nD the number of days, 'T' is the date/time separator, nH the number of hours, nM the number of minutes and nS the number of seconds. The number of seconds can include decimal digits to arbitrary precision. As an example, 7 months, 2 days, 2hours and 30 minutes would be expressed as P0Y7M2DT2H30M0S. Truncated representations are allowed provided they conform to ISO 8601 format. </xs:documentation>
			<xs:documentation xml:lang="en">Time periods, i.e. specific durations of time, can be represented by supplying two items of information: a start instant and a duration or a start instant and an end instant or an end instant and a duration. The OTA standards use the XML mapping that provides for two elements to represent the specific period of time; a startInstant and a duration.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Start" type="DateOrTimeOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The starting value of the time span. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Duration" type="DurationType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The duration datatype represents a combination of year, month, day and time values representing a single duration of time, encoded as a single string. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="End" type="DateOrTimeOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The ending value of the time span. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="DateTimeStampGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Creation date time, Creator Id, last modification date time and last Modifier Id.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreatorID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">ID of creator. The creator could be a software system identifier or an identifier of an employee resposible for the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifyDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of last modification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifierID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the last software system or person to modify a record.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="DefaultIndGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates that the receiving system should assume the default value if the user specifies no overriding value or action.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DefaultInd" type="xs:boolean" use="optional" default="false"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="DistanceAttributesGroup">
		<xs:annotation>
			<xs:documentation>Used to provide distance and direction information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Distance" type="NumericStringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An optional attribute indicating the distance to/from a reference point.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DistanceMeasure" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When the Distance attribute contains a value, (presumably a numerical value), the unit of measure is a string value that indicate what units are used for the value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Direction" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An optional string value used to indicate the compass point(s) direction, e.g.: S, SE (South, Southeast), FROM the Reference Point TO the hotel location if the search is not a full circumference from the reference point.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ErrorWarningAttributeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to identify an application error by either text, code, or by an online description and also to give the status, tag, and/or identification of the record that may have caused the error.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShortText" type="StringLength1to64" use="optional"/>
		<xs:attribute name="Code" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this refers to a table of coded values exchanged between applications to identify errors or warnings. Refer to OTA Code List Error Codes (ERR).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocURL" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this URL refers to an online description of the error that occurred.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, recommended values are those enumerated in the OTA_ErrorRS, (NotProcessed | Incomplete | Complete | Unknown) however, the data type is designated as string data, recognizing that trading partners may identify additional status conditions not included in the enumeration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Tag" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute may identify an unknown or misspelled tag that caused an error in processing. It is recommended that the Tag attribute use XPath notation to identify the location of a tag in the event that more than one tag of the same name is present in the document. Alternatively, the tag name alone can be used to identify missing data [Type=ReqFieldMissing].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RecordID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute allows for batch processing and the identification of the record that failed amongst a group of records.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="FormattedInd">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies if the associated data is formatted into its individual pieces, or exists as a single entity.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FormattedInd" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies if the associated data is formatted or not. If true, then it is formatted, if false, then not formatted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="HotelReferenceGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">HotelReference: The hotel reference identifies a specific hotel by using the Chain Code, the Brand Code, and the Hotel Code.  The codes used are agreed upon by trading partners.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ChainCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that identifies a hotel chain or management group. The hotel chain code is decided between vendors.  This attribute is optional if the hotel is an independent property that can be identified by the HotelCode attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BrandCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A code that identifies the brand or flag of a hotel, often used for independently-owned or franchised properties who are known by a specific brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that uniquely identifies a single hotel property. The hotel code is decided between vendors.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCityCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA city code; for example DCA, ORD.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelName" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en"> A text field used to communicate the proper name of the hotel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A text field used to communicate the context (or source of - ex Sabre, Galileo, Worldspan, Amadeus) the HotelReferenceGroup codes.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChainName" type="StringLength1to64" use="optional"/>
		<xs:attribute name="BrandName" type="StringLength1to64" use="optional"/>
		<xs:attributeGroup ref="AreaID_Group"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="LanguageGroup">
		<xs:annotation>
			<xs:documentation>Identifies language.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Language identification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group"/>
		<xs:attributeGroup ref="AltLangID_Group"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PositionGroup">
		<xs:annotation>
			<xs:documentation>Used to specify the geographic coordinates of a location.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Latitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian north or south of the equator.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Longitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian east or west of the prime meridian.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Altitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The height of an item, typically above sea level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation>Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="PrivacyGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">The two Privacy attributes allow for control of the sharing of data between parties.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShareSynchInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en"> value="Inherit" Permission for sharing data for synchronization of information held by other travel service providers.							</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShareMarketInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en"> value="Inherit" Permission for sharing data for marketing purposes.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="TelephoneAttributesGroup">
		<xs:annotation>
			<xs:documentation>Provides telephone information details.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PhoneLocationType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Refer to OTA Code List Phone Location Type (PLT).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PhoneTechType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates type of technology associated with this telephone number, such as Voice, Data, Fax, Pager, Mobile, TTY, etc. Refer to OTA Code List Phone Technology Type (PTT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CountryAccessCode" type="NumericStringLength1to3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code assigned by telecommunications authorities for international country access identifier.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AreaCityCode" type="NumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code assigned for telephones in a specific region, city, or area.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PhoneNumber" type="StringLength1to32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Telephone number assigned to a single location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Extension" type="NumericStringLength1to5" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Extension to reach a specific party at the phone number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PIN" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Additional codes used for pager or telephone access rights.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<!--  OTA_SimpleTypes.xsd  -->
	<xs:simpleType name="DateOrTimeOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a time or a dateTime value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:dateTime xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="DurationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for the specification of a night duration.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:duration NightDurationType"/>
	</xs:simpleType>
	<xs:simpleType name="ISO3166">
		<xs:annotation>
			<xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NightDurationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides the ability to define a duration in terms of nights rather than days.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="P[0-9]{1,3}N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric1to999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 999 inclusive.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 16.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, minimum length 1, maximum length 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 5</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StateProvCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region</xs:documentation>
		</xs:annotation>
		<xs:restriction base="StringLength1to8">
			<xs:minLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength0to255">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 255</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength0to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  OTA_VehicleCommonTypes.xsd  -->
	<xs:complexType name="VehicleLocationAdditionalDetailsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The VehicleLocationAdditionalDetailsType complex type defines the supplemental information that describes a vehicle rental facility. Such information may include the  operation schedules and services offered.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VehRentLocInfos" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Descriptive information allowing the vendor to present informational messages about the rental location. These may include after-hour return of vehicle messages, messages providing directions to the location, or other similar messages.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VehRentLocInfo" type="VehicleLocationInformationType" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Descriptive information of one spoecific aspect of the rental location.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ParkLocation" type="VehicleWhereAtFacilityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Descriptive information about where the vehicles are parked.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CounterLocation" type="VehicleWhereAtFacilityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Descriptive information about where the rental counter is located. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationSchedules" type="OperationSchedulesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of operation schedules, used to define the hours of operation for this rental facility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Shuttle" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information on the shuttle services associated with this location.  Some locations use a shuttle bus to transfer the customers from an airport terminal to the rental facility.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ShuttleInfos" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Collection of descriptions about various aspects of the Shuttle Services.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ShuttleInfo" maxOccurs="99">
										<xs:annotation>
											<xs:documentation xml:lang="en">Textual description about a specific aspect of the Shuttle Services</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="FormattedTextType">
													<xs:attribute name="Type" type="LocationDetailShuttleInfoType" use="required">
														<xs:annotation>
															<xs:documentation xml:lang="en">Identifies the type of Shuttle service information.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="OperationSchedules" type="OperationSchedulesType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">A collection of operation schedules, used to define the hours of operation for the shuttle services.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="TPA_Extensions" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleLocationDetailsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The VehicleLocationDetailsType complex type defines the core information that describes a vehicle rental facility. Such information may include the code of the facility, the name assigned to that facility, the address and telephone number of the facility.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address" type="AddressInfoType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about the physical address of the location</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telephone" type="TelephoneInfoType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about the telephone numbers for this
location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfo" type="VehicleLocationAdditionalDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Supplemental information about the rental facility.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AtAirport" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The AtAirport attribute identifies if the associated rental location serves an airport.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to16" use="required"/>
		<xs:attribute name="Name" type="StringLength1to64" use="optional"/>
		<xs:attribute name="CodeContext" type="StringLength1to16" use="optional"/>
	</xs:complexType>
	<xs:complexType name="VehicleLocationInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The VehicleLocationInformationType complex type provides formatted textual information relating to the vehicle rental location.  The type of information is indicated.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="FormattedTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">
Identifies the type of Vehicle Location information that is provided.  Refer to OTA Code List Vehicle Location Information Type (VLI).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VehicleWhereAtFacilityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The VehicleWhereAtFacilityType complex type defines the information needed to describe the location of the associated item at a rental facility.  Example of the items that may make use of this type include Rental Counter, Vehicle Parking Locations, etc.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to255">
				<xs:attribute name="Location" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Location attribute identifies the location of an item at an airport.  Refer to OTA Code List Vehicle Where At Facility (VWF).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationDetailShuttleInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The LocationDetailShuttleInfoType defines a set of valid values for the textual information about the shuttle services when renting from a rental facility.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Transportation">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates that the associated information describes the shuttle, such as shared bus, tram, company-specific bus.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Frequency">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates that the associated information describes the frequency with which the shuttle service operates.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PickupInfo">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates that the associated information describes where the shuttle service picks up those who are renting vehicles, how to get to the shuttle pick up location, etc/</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Distance">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates that the associated information describes the distance that the shuttle will travel, from point of pickup to arrival at the rental facility.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ElapsedTime">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates that the associated information describes the approximate elapsed time from point of pickup to arrival at the rental facility.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fee">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates that the associated information describes any shuttle fees that may apply.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Miscellaneous">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates that the associated information describes miscellaneous information about the shuttle service.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>