OTA1.0/OTA2003B/OTA2003B_XMLFlattenedSchema/FS_OTA_HotelStatsRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.opentravel.org/OTA/2003/05" xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.001" id="OTA2003B">




	<!--  OTA_HotelStatsRS.xsd  -->
	<xs:element name="OTA_HotelStatsRS">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType"/>
					<xs:element name="Warnings" type="WarningType" minOccurs="0"/>
					<xs:element name="Statistics" type="StatisticsType"/>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType"/>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<!--  OTA_CommonTypes.xsd  -->
	<xs:complexType name="CurrencyAmountType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a monetary amount and the code of the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="CurrencyAmountGroup"/>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate that an error occurred during the processing of an OTA message</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Error element MUST contain the Type attribute that uses a recommended set of values to indicate the error type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup"/>
				<xs:attribute name="NodeList" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">An XPath expression that selects all the nodes whose data caused this error.  Further, this expression should have an 	additional contraint which contains the data of the node.  This will provide the offending data back to systems that cannot maintain the original message. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ErrorsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of errors that occurred during the processing of a message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Error" type="ErrorType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormattedTextTextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Formatted" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Textual information, which may be formatted as a line of information, or unformatted, as a paragraph of text.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="LanguageGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FreeTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Textual information to provide descriptions and/or additional information.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="LanguageGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ParagraphType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An indication of a new paragraph for a sub-section of a formatted text message.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="99">
			<xs:element name="Text" type="FormattedTextTextType"/>
			<xs:element name="Image" type="xs:string"/>
			<xs:element name="URL" type="xs:anyURI"/>
			<xs:element name="ListItem">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FormattedTextTextType">
							<xs:attribute name="ListItem" type="xs:integer" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Name" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">In many cases the description repeats, this will allow you to define the information that is being sent, typically used when multiple occurrences of ParagraphType are being sent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ParagraphNumber" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="DateTimeStampGroup"/>
		<xs:attributeGroup ref="LanguageGroup"/>
	</xs:complexType>
	<xs:complexType name="SuccessType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message. Returning an empty element of this type indicates success.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="WarningType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message, but one in which warnings are generated</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Warning element MUST contain the Type attribute that uses a recommended set of values to indicate the warning type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AreaID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used in place of a property code to retrieve availability across multiple properties in a hotel reservation system defined area.  This attribute does not map to a code list, it maps to a hotel reservation system defined value.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AreaID" type="NumericStringLength1to8" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="CurrencyAmountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amount" type="Money" use="optional"/>
		<xs:attributeGroup ref="CurrencyCodeGroup"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="CurrencyCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional"/>
		<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the number of decimal places for a particular currency. This is equivalent to the ISO 4217 standard "minor unit".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="DateTimeStampGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Creation date time, Creator Id, last modification date time and last Modifier Id.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreatorID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">ID of creator. The creator could be a software system identifier or an identifier of an employee resposible for the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifyDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of last modification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifierID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the last software system or person to modify a record.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ErrorWarningAttributeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to identify an application error by either text, code, or by an online description and also to give the status, tag, and/or identification of the record that may have caused the error.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShortText" type="StringLength1to64" use="optional"/>
		<xs:attribute name="Code" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this refers to a table of coded values exchanged between applications to identify errors or warnings. Refer to OTA Code List Error Codes (ERR).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocURL" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this URL refers to an online description of the error that occurred.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, recommended values are those enumerated in the OTA_ErrorRS, (NotProcessed | Incomplete | Complete | Unknown) however, the data type is designated as string data, recognizing that trading partners may identify additional status conditions not included in the enumeration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Tag" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute may identify an unknown or misspelled tag that caused an error in processing. It is recommended that the Tag attribute use XPath notation to identify the location of a tag in the event that more than one tag of the same name is present in the document. Alternatively, the tag name alone can be used to identify missing data [Type=ReqFieldMissing].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RecordID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute allows for batch processing and the identification of the record that failed amongst a group of records.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="HotelReferenceGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">HotelReference: The hotel reference identifies a specific hotel by using the Chain Code, the Brand Code, and the Hotel Code.  The codes used are agreed upon by trading partners.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ChainCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that identifies a hotel chain or management group. The hotel chain code is decided between vendors.  This attribute is optional if the hotel is an independent property that can be identified by the HotelCode attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BrandCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A code that identifies the brand or flag of a hotel, often used for independently-owned or franchised properties who are known by a specific brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that uniquely identifies a single hotel property. The hotel code is decided between vendors.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCityCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA city code; for example DCA, ORD.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelName" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en"> A text field used to communicate the proper name of the hotel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A text field used to communicate the context (or source of - ex Sabre, Galileo, Worldspan, Amadeus) the HotelReferenceGroup codes.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChainName" type="StringLength1to64" use="optional"/>
		<xs:attribute name="BrandName" type="StringLength1to64" use="optional"/>
		<xs:attributeGroup ref="AreaID_Group"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="LanguageGroup">
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Language identification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A sequence number for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group"/>
		<xs:attributeGroup ref="AltLangID_Group"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PrimaryLangID_Group">
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the form of travel represented in a collection.
				 The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<!--  OTA_HotelCommonTypes.xsd  -->
	<xs:complexType name="CountCategorySummariesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of CountCategorySummary information sets that report categories of hotel numerical count statistics.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountCategorySummary" type="CountCategorySummaryType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountCategorySummaryType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A class that shows the total of all counts for a certain category.  These categories provide a way to show counts such as guests, rooms occupied, etc.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="SummaryCount" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The total count for that category. The data type is a signed integer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CountCategoryCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The representation of a count category such as Guests : Number of guests at a property, RoomsSingleOcc : Count of rooms with one guest. Refer to OTA Code List Count Category Code (CNT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RevenueCategorySummariesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The report that sends the guest revenue statistical data and other predetermined information to a central server or management system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RevenueCategorySummary" type="RevenueCategorySummaryType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RevenueCategorySummaryType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A revenue category class that reports the total amount of revenue in a certain category.  Categories provide a way to classify hotel financial statistics to show all spending in a specific category (e.g., food and beverage, room, etc.).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SummaryAmount" type="CurrencyAmountType"/>
		</xs:sequence>
		<xs:attribute name="RevenueCategoryCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The representation of a revenue category. The following basic Revenue Categories are suggested:
RoomRevenue : Total of room revenue at property.
FoodRevenue : Total of restaurant and room service revenue at property.
MeetingRevenue : Total of meeting room revenue at property.
BarRevenue : Total of bar revenue at property.
OtherRevenue : Total of other miscellaneous revenue at property.
TotalRevenue : Total of all revenue at property.
Refer to OTA Code List Revenue Category Code (RCC).
</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="OTA_CodeType StringLength1to16"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StatisticType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The Statistic class contains the guest revenue stay data to be included in the report.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RevenueCategorySummaries" type="RevenueCategorySummariesType" minOccurs="0"/>
			<xs:element name="CountCategorySummaries" type="CountCategorySummariesType" minOccurs="0"/>
			<xs:element name="ReportSummaries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReportSummary" type="ParagraphType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="HotelReferenceGroup"/>
		<xs:attribute name="FiscalDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Hotel fiscal date for statistics.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ReportCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the type of statistics collected.  Each ReportCode corresponds to a set of category summaries based upon a predetermined agreement</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StatisticsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The report that sends the guest revenue statistical data and other predetermined information to a central server or management system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Statistic" type="StatisticType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--  OTA_SimpleTypes.xsd  -->
	<xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>